Repository evertonfoz/dsc-2025-2-aurora-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @org/time-devs, @aluno1, @aluno2, @org/devops

.github/CODEOWNERS:

/src/** @org/time-devs @aluno1 @aluno2
/test/** @org/time-devs
/.github/** @org/devops
/* @org/time-devs

docs: add testing on new host and public-repo deployment guides
  docs/DEPLOYMENT-PUBLIC.md
  docs/TESTING-NEW-HOST.md
Owners: none

ci/release: add deploy-bundle workflow + deploy-only compose, deploy script and docs
  .github/workflows/create-release-bundle.yml
  README-deploy.md
  docker-compose.deploy.yml
  docs/RELEASE-BUNDLE.md
  scripts/deploy-prod.sh
Owners: @org/devops, @org/time-devs

ci(release): add deploy-bundle workflow + deploy-only compose, deploy script and docs (#64)
  .github/workflows/build-auth-service.yml
  .github/workflows/build-events-service.yml
  .github/workflows/build-users-service.yml
  .github/workflows/create-release-bundle.yml
  README-deploy.md
  docker-compose.deploy.yml
  docs/DEPLOYMENT-PUBLIC.md
  docs/RELEASE-BUNDLE.md
  docs/TESTING-NEW-HOST.md
  scripts/deploy-prod.sh
Owners: @org/devops, @org/time-devs

fix(ci): add GITHUB_TOKEN env to create-release workflow and fix permissions
  .github/workflows/create-release-bundle.yml
Owners: @org/devops

fix(ci): add GITHUB_TOKEN env to create-release workflow and fix permissions (#65)
  .github/workflows/create-release-bundle.yml
Owners: @org/devops

feat: add test-release-bundle script + docs
  docs/TESTING-RELEASE-BUNDLE.md
  scripts/test-release-bundle.sh
Owners: none

feat: add test-release-bundle script + docs (#66)
  docs/TESTING-RELEASE-BUNDLE.md
  scripts/test-release-bundle.sh
Owners: none

chore(ci): prepare deploy compose, readable container names and users-service restructure for CI image builds
  docker-compose.deploy.yml
  docker-compose.yml
  packages/auth-service/Dockerfile
  packages/auth-service/src/app.module.ts
  packages/auth-service/test/integration/auth.integration.spec.ts
  packages/users-service/src/app.module.ts
  packages/users-service/src/check-users.ts
  packages/users-service/src/data-source.ts
  packages/users-service/src/dto/create-user.dto.ts
  packages/users-service/src/dto/update-user.dto.ts
  packages/users-service/src/dto/user.dto.ts
  packages/users-service/src/dto/validate-user.dto.ts
  packages/users-service/src/entities/user.entity.ts
  packages/users-service/src/enums/user-role.enum.ts
  packages/users-service/src/migrations/1760000002000-ConvertEmailToCitext.ts
  packages/users-service/src/users.controller.ts
  packages/users-service/src/users.module.ts
  packages/users-service/src/users.service.ts
  packages/users-service/test/users.service.spec.ts
  postgres-init/01-create-db-and-schemas.sql
  postgres-init/02-seed-test-users.sql
Owners: @org/time-devs

chore(ci): prepare deploy compose, readable container names and users-service restructure for CI image builds (#67)
  docker-compose.deploy.yml
  docker-compose.yml
  packages/auth-service/Dockerfile
  packages/auth-service/src/app.module.ts
  packages/auth-service/test/integration/auth.integration.spec.ts
  packages/users-service/src/app.module.ts
  packages/users-service/src/check-users.ts
  packages/users-service/src/data-source.ts
  packages/users-service/src/dto/create-user.dto.ts
  packages/users-service/src/dto/update-user.dto.ts
  packages/users-service/src/dto/user.dto.ts
  packages/users-service/src/dto/validate-user.dto.ts
  packages/users-service/src/entities/user.entity.ts
  packages/users-service/src/enums/user-role.enum.ts
  packages/users-service/src/migrations/1760000002000-ConvertEmailToCitext.ts
  packages/users-service/src/users.controller.ts
  packages/users-service/src/users.module.ts
  packages/users-service/src/users.service.ts
  packages/users-service/test/users.service.spec.ts
  postgres-init/01-create-db-and-schemas.sql
  postgres-init/02-seed-test-users.sql
Owners: @org/time-devs

ci: add multi-platform support (amd64/arm64) to docker builds
  .github/workflows/build-auth-service.yml
  .github/workflows/build-events-service.yml
  .github/workflows/build-users-service.yml
Owners: @org/devops

ci: add multi-platform support (amd64/arm64) to docker builds (#68)
  .github/workflows/build-auth-service.yml
  .github/workflows/build-events-service.yml
  .github/workflows/build-users-service.yml
Owners: @org/devops

fix: corrige caminhos do main.js nos Dockerfiles
  packages/auth-service/Dockerfile
  packages/users-service/Dockerfile
Owners: none

fix: corrige caminhos do main.js nos Dockerfiles (#69)
  packages/auth-service/Dockerfile
  packages/users-service/Dockerfile
Owners: none

fix: corrige caminhos do main.js para dist/app/src/main.js
  packages/auth-service/Dockerfile
  packages/users-service/Dockerfile
Owners: none

fix: corrige caminhos do main.js para dist/app/src/main.js (#70)
  packages/auth-service/Dockerfile
  packages/users-service/Dockerfile
Owners: none

chore: commit pending changes (auto-commit)
  DEPLOYMENT_GUIDE.md
Owners: @org/time-devs

chore: commit pending changes (auto-commit) (#71)
  DEPLOYMENT_GUIDE.md
Owners: @org/time-devs

chore: persist pending deploy & docs fixes
  .github/workflows/create-release-bundle.yml
  DEPLOY_GUIDE.md
  README-deploy.md
  deploy-to-vps.yml
  docker-compose.deploy.yml
  docs/DEPLOYMENT-ORACLE-VPS.md
  docs/acesso-remoto-vm-vscode.md
  packages/users-service/src/users.service.ts
  production/.gitkeep
  production/README.md
  production/docker-compose.prod.yml
  production/init-letsencrypt.sh
  production/nginx/default.conf
  scripts/.DS_Store
  scripts/deploy-prod.sh
Owners: @org/devops, @org/time-devs

chore: persist pending deploy & docs fixes (#72)
  .github/workflows/create-release-bundle.yml
  DEPLOY_GUIDE.md
  README-deploy.md
  deploy-to-vps.yml
  docker-compose.deploy.yml
  docs/DEPLOYMENT-ORACLE-VPS.md
  docs/acesso-remoto-vm-vscode.md
  packages/users-service/src/users.service.ts
  production/.gitkeep
  production/README.md
  production/docker-compose.prod.yml
  production/init-letsencrypt.sh
  production/nginx/default.conf
  scripts/.DS_Store
  scripts/deploy-prod.sh
Owners: @org/devops, @org/time-devs

docs: add PAT rotation guidance and non-interactive secret setup
  .env.example
  DEPLOY_GUIDE.md
  DEPLOY_GUIDE_COMMANDS.md
  deploy-to-vps.yml
  scripts/run-deploy-test.sh
Owners: @org/time-devs

docs: add PAT rotation guidance and non-interactive secret setup (#73)
  .env.example
  DEPLOY_GUIDE.md
  DEPLOY_GUIDE_COMMANDS.md
  deploy-to-vps.yml
  scripts/run-deploy-test.sh
Owners: @org/time-devs

fix(deploy): corrigir variável DB_PASSWORD para DB_PASS
  docker-compose.deploy.yml
  scripts/save-ghpat-to-env.sh
Owners: @org/time-devs

docs(deploy): adicionar guia completo com .env.prod e troubleshooting
  DEPLOY_GUIDE.md
Owners: @org/time-devs

docs: adicionar checklist de teste local do deploy (VPS)
  DEPLOY_GUIDE.md
  DEPLOY_GUIDE_COMMANDS.md
Owners: @org/time-devs

docs: adicionar checklist de teste local do deploy (VPS) (#74)
  DEPLOY_GUIDE.md
  DEPLOY_GUIDE_COMMANDS.md
  docker-compose.deploy.yml
  scripts/save-ghpat-to-env.sh
Owners: @org/time-devs

docs: adicionar seção 'Teste Local' (docker-compose, .env.prod) e atualizar índice
  DEPLOY_GUIDE.md
Owners: @org/time-devs

docs: adicionar seção 'Teste Local' (docker-compose, .env.prod) e atualizar índice (#75)
  DEPLOY_GUIDE.md
Owners: @org/time-devs

chore: mover deploy-to-vps.yml para .github/workflows
  .github/workflows/deploy-to-vps.yml
Owners: @org/devops

chore: mover deploy-to-vps.yml para .github/workflows (#76)
  .github/workflows/deploy-to-vps.yml
Owners: @org/devops

chore: adicionar workflow_dispatch ao deploy-to-vps.yml
  .github/workflows/deploy-to-vps.yml
Owners: @org/devops

chore: adicionar workflow_dispatch ao deploy-to-vps.yml (#77)
  .github/workflows/deploy-to-vps.yml
Owners: @org/devops

fix: corrigir sintaxe do deploy-to-vps.yml (usar GH_PAT do .env.prod)
  .github/workflows/deploy-to-vps.yml
Owners: @org/devops

fix: corrigir sintaxe do deploy-to-vps.yml (usar GH_PAT do .env.prod) (#78)
  .github/workflows/deploy-to-vps.yml
Owners: @org/devops

docs: adicionar seção de Security List e testes externos
  DEPLOY_GUIDE.md
Owners: @org/time-devs

docs: adicionar seção de Security List e testes externos (#79)
  DEPLOY_GUIDE.md
Owners: @org/time-devs

registrations-service: scaffold, Dockerfile, compose entry; add implementation report and allow empty Jest
  REGISTRATIONS_IMPLEMENTATION_REPORT.md
  docker-compose.deploy.yml
  docker-compose.yml
  packages/registrations-service/Dockerfile
  packages/registrations-service/README.md
  packages/registrations-service/package-lock.json
  packages/registrations-service/package.json
  packages/registrations-service/src/data-source.ts
  packages/registrations-service/src/dto/create-registration.dto.ts
  packages/registrations-service/src/dto/index.ts
  packages/registrations-service/src/entities/registration.entity.ts
  packages/registrations-service/src/enums/registration-status.enum.ts
  packages/registrations-service/src/main.ts
  packages/registrations-service/src/migrations/1790000000000-CreateRegistrationsTable.ts
  packages/registrations-service/src/registrations.controller.ts
  packages/registrations-service/src/registrations.module.ts
  packages/registrations-service/src/registrations.service.ts
  packages/registrations-service/tsconfig.json
Owners: @org/time-devs

registrations-service: add automated migration runner and docker-compose service; update main.ts with dev auto-auth
  docker-compose.yml
  packages/common/src/decorators/owner-id.decorator.js.map
  packages/registrations-service/package.json
  packages/registrations-service/src/main.ts
  packages/registrations-service/src/registrations.controller.ts
  packages/registrations-service/src/run-migrations.ts
  packages/registrations-service/tsconfig.json
Owners: @org/time-devs

docs: consolidate registrations-service implementation report with all problems and solutions
  REGISTRATIONS_IMPLEMENTATION_REPORT.md
Owners: @org/time-devs

chore: update package-lock.json to include registrations-service
  package-lock.json
Owners: @org/time-devs

refactor: remove registrations-migrations service from compose; run migrations on service startup
  docker-compose.yml
Owners: @org/time-devs
