Repository evertonfoz/dsc-2025-2-aurora-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @org/time-devs, @aluno1, @aluno2, @org/devops

.github/CODEOWNERS:

/src/** @org/time-devs @aluno1 @aluno2
/test/** @org/time-devs
/.github/** @org/devops
/* @org/time-devs

docs: adiciona LLM-UNIFIED-GUIDE.md com orientações para uso eficiente do Copilot Chat
  LLM-UNIFIED-GUIDE.md
Owners: @org/time-devs

docs: adiciona relatórios de execução, validação e guia unificado de uso do Copilot Chat
  docs/prompts/tests/users/crud_endpoints_analysis_execucao_relatorio.md
  docs/prompts/tests/users/crud_endpoints_analysis_validacao_guia.md
Owners: none

docs: material didático de uso do Copilot Chat (#26)
  LLM-UNIFIED-GUIDE.md
  docs/prompts/tests/users/crud_endpoints_analysis.md
  docs/prompts/tests/users/crud_endpoints_analysis_execucao_relatorio.md
  docs/prompts/tests/users/crud_endpoints_analysis_validacao_guia.md
  src/users/dtos/update-user.dto.ts
  src/users/users.controller.ts
  src/users/users.service.ts
  test/users/users.controller.spec.ts
Owners: @org/time-devs, @aluno1, @aluno2

docs: adiciona workflow obrigatório de issues e atualiza guia LLM
  LLM-UNIFIED-GUIDE.md
Owners: @org/time-devs

docs: adiciona workflow obrigatório de issues e atualiza guia LLM (#27)
  LLM-UNIFIED-GUIDE.md
Owners: @org/time-devs

Testes de unidade
  test/users/controllers/users.controller.create.spec.ts
  test/users/controllers/users.controller.findAll.spec.ts
  test/users/controllers/users.controller.findOne.spec.ts
  test/users/controllers/users.controller.patch.spec.ts
  test/users/controllers/users.controller.remove.spec.ts
  test/users/controllers/users.controller.update.spec.ts
  test/users/services/users.service.create.spec.ts
  test/users/services/users.service.find.spec.ts
  test/users/services/users.service.findOne.spec.ts
  test/users/services/users.service.remove.spec.ts
  test/users/services/users.service.update.spec.ts
  test/users/users.controller.spec.ts
  test/users/users.service.create.spec.ts
  test/users/users.service.find.spec.ts
Owners: @org/time-devs

fix(test): lint fixes for tests and improve mock typings; docs: add lint/test prevention to LLM-UNIFIED-GUIDE.md
  LLM-UNIFIED-GUIDE.md
  src/users/users.controller.ts
  test/mocks/repository.mock.ts
  test/users/controllers/users.controller.create.spec.ts
  test/users/controllers/users.controller.findAll.spec.ts
  test/users/controllers/users.controller.findOne.spec.ts
  test/users/controllers/users.controller.patch.spec.ts
  test/users/controllers/users.controller.remove.spec.ts
  test/users/controllers/users.controller.update.spec.ts
  test/users/services/users.service.create.spec.ts
  test/users/services/users.service.find.spec.ts
  test/users/services/users.service.findOne.spec.ts
  test/users/services/users.service.remove.spec.ts
  test/users/services/users.service.update.spec.ts
Owners: @org/time-devs, @aluno1, @aluno2

fix(tests): lint fixes and document prevention rules (#29)
  LLM-UNIFIED-GUIDE.md
  src/users/users.controller.ts
  test/mocks/repository.mock.ts
  test/users/controllers/users.controller.create.spec.ts
  test/users/controllers/users.controller.findAll.spec.ts
  test/users/controllers/users.controller.findOne.spec.ts
  test/users/controllers/users.controller.patch.spec.ts
  test/users/controllers/users.controller.remove.spec.ts
  test/users/controllers/users.controller.update.spec.ts
  test/users/services/users.service.create.spec.ts
  test/users/services/users.service.find.spec.ts
  test/users/services/users.service.findOne.spec.ts
  test/users/services/users.service.remove.spec.ts
  test/users/services/users.service.update.spec.ts
  test/users/users.controller.spec.ts
  test/users/users.service.create.spec.ts
  test/users/users.service.find.spec.ts
Owners: @org/time-devs, @aluno1, @aluno2

chore(test): apply local test fixes and align with lint rules
  src/users/users.controller.ts
  test/users/controllers/users.controller.create.spec.ts
  test/users/controllers/users.controller.findAll.spec.ts
  test/users/controllers/users.controller.findOne.spec.ts
  test/users/controllers/users.controller.patch.spec.ts
  test/users/controllers/users.controller.remove.spec.ts
  test/users/controllers/users.controller.update.spec.ts
  test/users/services/users.service.create.spec.ts
  test/users/services/users.service.find.spec.ts
  test/users/services/users.service.findOne.spec.ts
  test/users/services/users.service.remove.spec.ts
  test/users/services/users.service.update.spec.ts
Owners: @org/time-devs, @aluno1, @aluno2

fix(tests): remove unused imports/vars in service specs
  test/users/services/users.service.create.spec.ts
  test/users/services/users.service.find.spec.ts
  test/users/services/users.service.update.spec.ts
Owners: @org/time-devs

fix(test): remove unused imports, replace any with DTO types in controller specs
  src/users/users.controller.ts
  test/users/controllers/users.controller.create.spec.ts
  test/users/controllers/users.controller.findAll.spec.ts
  test/users/controllers/users.controller.findOne.spec.ts
  test/users/controllers/users.controller.patch.spec.ts
  test/users/controllers/users.controller.remove.spec.ts
  test/users/controllers/users.controller.update.spec.ts
  test/users/services/users.service.findOne.spec.ts
  test/users/services/users.service.remove.spec.ts
Owners: @org/time-devs, @aluno1, @aluno2

fix(test): remove unused imports and variables reported by CI
  test/users/services/users.service.create.spec.ts
  test/users/services/users.service.find.spec.ts
  test/users/services/users.service.update.spec.ts
Owners: @org/time-devs

fix(test): remove unused Repository imports and tidy service tests
  test/users/services/users.service.find.spec.ts
  test/users/services/users.service.update.spec.ts
Owners: @org/time-devs

chore(test): sync local changes & lint fixes (#30)
  test/users/controllers/users.controller.create.spec.ts
  test/users/controllers/users.controller.findAll.spec.ts
  test/users/controllers/users.controller.patch.spec.ts
  test/users/controllers/users.controller.update.spec.ts
  test/users/services/users.service.create.spec.ts
  test/users/services/users.service.update.spec.ts
Owners: @org/time-devs

chore(users): rename src/users/dtos -> src/users/dto and update imports
  docs/prompts/tests/users/crud_endpoints_analysis.md
  docs/prompts/tests/users/crud_endpoints_analysis_execucao_relatorio.md
  docs/prompts/tests/users/crud_endpoints_analysis_validacao_guia.md
  src/users/dto/create-user.dto.ts
  src/users/dto/paginated-users-response.dto.ts
  src/users/dto/pagination-query.dto.ts
  src/users/dto/query-users.dto.ts
  src/users/dto/update-user.dto.ts
  src/users/dto/user-response.dto.ts
  src/users/users.controller.ts
  src/users/users.service.ts
  test/users/services/users.service.create.spec.ts
Owners: @org/time-devs, @aluno1, @aluno2

chore(users): remove leftover src/users/dtos duplicates
  src/users/dto/pagination-query.dto.ts
Owners: @org/time-devs, @aluno1, @aluno2

chore(users): rename src/users/dtos -> src/users/dto and update imports (#31)
  docs/prompts/tests/users/crud_endpoints_analysis.md
  docs/prompts/tests/users/crud_endpoints_analysis_execucao_relatorio.md
  docs/prompts/tests/users/crud_endpoints_analysis_validacao_guia.md
  src/users/dto/create-user.dto.ts
  src/users/dto/paginated-users-response.dto.ts
  src/users/dto/pagination-query.dto.ts
  src/users/dto/query-users.dto.ts
  src/users/dto/update-user.dto.ts
  src/users/dto/user-response.dto.ts
  src/users/users.controller.ts
  src/users/users.service.ts
  test/users/services/users.service.create.spec.ts
Owners: @org/time-devs, @aluno1, @aluno2

chore(users): move user-role.enum to src/users/enums and update imports
  src/users/dto/create-user.dto.ts
  src/users/dto/pagination-query.dto.ts
  src/users/dto/user-response.dto.ts
  src/users/dtos/create-user.dto.ts
  src/users/dtos/paginated-users-response.dto.ts
  src/users/dtos/pagination-query.dto.ts
  src/users/dtos/query-users.dto.ts
  src/users/dtos/update-user.dto.ts
  src/users/dtos/user-response.dto.ts
  src/users/entities/user.entity.ts
  src/users/enums/user-role.enum.ts
  src/users/users.controller.ts
  src/users/users.service.ts
  test/users/controllers/users.controller.create.spec.ts
  test/users/controllers/users.controller.findAll.spec.ts
  test/users/controllers/users.controller.findOne.spec.ts
  test/users/controllers/users.controller.patch.spec.ts
  test/users/controllers/users.controller.update.spec.ts
  test/users/services/users.service.create.spec.ts
Owners: @org/time-devs, @aluno1, @aluno2

feat(validators): add IsTrimmed and ToLowerCase validators and apply to user DTOs
  src/common/validators/is-trimmed.validator.ts
  src/common/validators/to-lowercase.transform.ts
  src/users/domain/user-role.enum.ts
  src/users/dto/create-user.dto.ts
Owners: @org/time-devs, @aluno1, @aluno2

fix(users): add enums/user-role.enum and fix validators/transform to satisfy lint
  src/common/validators/is-trimmed.validator.ts
  src/common/validators/to-lowercase.transform.ts
  src/users/dto/create-user.dto.ts
  src/users/dto/pagination-query.dto.ts
  src/users/dto/user-response.dto.ts
  src/users/dtos/create-user.dto.ts
  src/users/dtos/pagination-query.dto.ts
  src/users/dtos/query-users.dto.ts
  src/users/dtos/user-response.dto.ts
  src/users/entities/user.entity.ts
  src/users/enums/user-role.enum.ts
Owners: @org/time-devs, @aluno1, @aluno2

fix(dto): replace corrupted query-users.dto and update imports
  src/users/dto/query-users.dto.ts
  src/users/dto/query-users.dto.ts.bak
Owners: @org/time-devs, @aluno1, @aluno2

fix(dto): replace corrupted query-users.dto with clean file
  src/users/dto/query-users.dto.ts
Owners: @org/time-devs, @aluno1, @aluno2

fix(users): resolve remaining imports to enums path and replace corrupted dto
  src/users/users.controller.ts
  src/users/users.service.ts
Owners: @org/time-devs, @aluno1, @aluno2

fix(validators): address lint errors (unused var, unsafe any)
  src/common/validators/is-trimmed.validator.ts
  src/common/validators/to-lowercase.transform.ts
Owners: @org/time-devs, @aluno1, @aluno2

fix(validators): adjust ToLowerTransform signature to satisfy lint
  src/common/validators/to-lowercase.transform.ts
Owners: @org/time-devs, @aluno1, @aluno2

fix(validators): avoid unsafe any by using unknown and casting
  src/common/validators/to-lowercase.transform.ts
Owners: @org/time-devs, @aluno1, @aluno2

chore(users): remove duplicate src/users/dtos (keep src/users/dto)
  src/common/validators/to-lowercase.transform.ts
  src/users/dtos/create-user.dto.ts
  src/users/dtos/paginated-users-response.dto.ts
  src/users/dtos/pagination-query.dto.ts
  src/users/dtos/query-users.dto.ts
  src/users/dtos/update-user.dto.ts
  src/users/dtos/user-response.dto.ts
Owners: @org/time-devs, @aluno1, @aluno2

chore: remove corrupted backup file query-users.dto.ts.bak
  src/users/dto/query-users.dto.ts.bak
Owners: @org/time-devs, @aluno1, @aluno2

test(users): update tests to import UserRole from src/users/enums
  test/users/controllers/users.controller.create.spec.ts
  test/users/controllers/users.controller.findAll.spec.ts
  test/users/controllers/users.controller.findOne.spec.ts
  test/users/controllers/users.controller.patch.spec.ts
  test/users/controllers/users.controller.update.spec.ts
  test/users/services/users.service.create.spec.ts
Owners: @org/time-devs

feat(validators): add IsTrimmed and ToLowerCase validators and apply to user DTOs (#32)
  src/common/validators/is-trimmed.validator.ts
  src/common/validators/to-lowercase.transform.ts
  src/users/dto/create-user.dto.ts
  src/users/dto/pagination-query.dto.ts
  src/users/dto/query-users.dto.ts
  src/users/dto/user-response.dto.ts
  src/users/dtos/create-user.dto.ts
  src/users/dtos/paginated-users-response.dto.ts
  src/users/dtos/pagination-query.dto.ts
  src/users/dtos/query-users.dto.ts
  src/users/dtos/update-user.dto.ts
  src/users/dtos/user-response.dto.ts
  src/users/entities/user.entity.ts
  src/users/enums/user-role.enum.ts
  src/users/users.controller.ts
  src/users/users.service.ts
  test/users/controllers/users.controller.create.spec.ts
  test/users/controllers/users.controller.findAll.spec.ts
  test/users/controllers/users.controller.findOne.spec.ts
  test/users/controllers/users.controller.patch.spec.ts
  test/users/controllers/users.controller.update.spec.ts
  test/users/services/users.service.create.spec.ts
Owners: @org/time-devs, @aluno1, @aluno2

docs: add AGENTS.md (always read LLM-UNIFIED-GUIDE.md)
  AGENTS.md
Owners: @org/time-devs

feat(common): add logging, timeout and transform-response interceptors and register globally
  src/common/interceptors/logging.interceptor.ts
  src/common/interceptors/timeout.interceptor.ts
  src/common/interceptors/transform-response.interceptor.ts
  src/main.ts
Owners: @org/time-devs, @aluno1, @aluno2

docs: add AGENTS.md and recommend MCP Context7 usage in LLM-UNIFIED-GUIDE
  AGENTS.md
  LLM-UNIFIED-GUIDE.md
Owners: @org/time-devs

Issue/2025 10 07/pr3 common validators (#33)
  AGENTS.md
Owners: @org/time-devs

feat(common): add Roles decorator, RolesGuard and JWT guard placeholder; document example usage
  src/common/decorators/roles.decorator.ts
  src/common/guards/jwt-auth.guard.ts
  src/common/guards/roles.guard.ts
  src/users/users.controller.ts
Owners: @org/time-devs, @aluno1, @aluno2

feat(common): add Roles decorator, RolesGuard and JWT guard placeholder; document example usage (#34)
  src/common/decorators/roles.decorator.ts
  src/common/guards/jwt-auth.guard.ts
  src/common/guards/roles.guard.ts
  src/users/users.controller.ts
Owners: @org/time-devs, @aluno1, @aluno2

docs: add docs/README.md with conventions and MCP Context7 usage
  docs/README.md
Owners: none

docs: add docs/README.md with conventions and MCP Context7 usage (#35)
  docs/README.md
Owners: none

Issue/2025 10 07/pr4 common interceptors (#36)
  AGENTS.md
  LLM-UNIFIED-GUIDE.md
  src/common/interceptors/logging.interceptor.ts
  src/common/interceptors/timeout.interceptor.ts
  src/common/interceptors/transform-response.interceptor.ts
  src/main.ts
Owners: @org/time-devs, @aluno1, @aluno2

feat(db): enable citext and migrate users.email to citext; update User entity
  src/database/migrations/1729090000000-EnableCitextAndUsersEmailCitext.ts
  src/users/entities/user.entity.ts
  start.sh
Owners: @org/time-devs, @aluno1, @aluno2
