Repository evertonfoz/dsc-2025-2-aurora-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @org/time-devs, @aluno1, @aluno2, @org/devops

fix: resolve lint errors in auth files and update LLM guide with best practices
  LLM-UNIFIED-GUIDE.md
  src/auth/auth.controller.ts
  src/auth/auth.module.ts
  src/auth/auth.service.ts
  src/auth/entities/refresh-token.entity.ts
  src/auth/users-http.client.ts
  src/common/decorators/owner-id.decorator.ts
  src/common/guards/jwt-auth.guard.ts
  src/common/guards/roles.guard.ts
  src/database/migrations/1760000000000-CreateEventsTable.ts
  src/events/dto/create-event.dto.ts
  src/events/dto/update-event.dto.ts
  src/events/entities/event.entity.ts
  src/events/events.controller.ts
  src/events/events.module.ts
  src/events/events.service.ts
  src/events/pipes/iso-date.pipe.ts
  src/events/utils/slug.util.ts
  test/events.e2e-spec.ts
Owners: @org/time-devs, @aluno1, @aluno2

fix: apply final lint fixes to auth decorator and guard
  src/common/decorators/owner-id.decorator.ts
  src/common/guards/jwt-auth.guard.ts
Owners: @org/time-devs, @aluno1, @aluno2

Feature/add events module (#41)
  LLM-UNIFIED-GUIDE.md
  docs/events.http
  package-lock.json
  package.json
  src/app.module.ts
  src/auth/auth.controller.ts
  src/auth/auth.module.ts
  src/auth/auth.service.ts
  src/auth/entities/refresh-token.entity.ts
  src/auth/users-http.client.ts
  src/common/decorators/owner-id.decorator.ts
  src/common/guards/jwt-auth.guard.ts
  src/common/guards/roles.guard.ts
  src/database/migrations/1760000000000-CreateEventsTable.ts
  src/events/dto/create-event.dto.ts
  src/events/dto/update-event.dto.ts
  src/events/entities/event.entity.ts
  src/events/events.controller.ts
  src/events/events.module.ts
  src/events/events.service.ts
  src/events/pipes/iso-date.pipe.ts
  src/events/utils/slug.util.ts
  test/events.e2e-spec.ts
Owners: @org/time-devs, @aluno1, @aluno2

refactor: move to-lowercase.transform.ts to common/transformers directory
  src/common/transformers/to-lowercase.transform.ts
  src/users/dto/create-user.dto.ts
Owners: @org/time-devs, @aluno1, @aluno2

refactor: move EventState and EventVisibility enums to dedicated files
  src/events/dto/create-event.dto.ts
  src/events/dto/update-event.dto.ts
  src/events/entities/event.entity.ts
  src/events/enums/event-state.enum.ts
  src/events/enums/event-visibility.enum.ts
  src/events/events.service.ts
Owners: @org/time-devs, @aluno1, @aluno2

Refactor/events (#42)
  src/common/transformers/to-lowercase.transform.ts
  src/events/dto/create-event.dto.ts
  src/events/dto/update-event.dto.ts
  src/events/entities/event.entity.ts
  src/events/enums/event-state.enum.ts
  src/events/enums/event-visibility.enum.ts
  src/events/events.service.ts
  src/users/dto/create-user.dto.ts
Owners: @org/time-devs, @aluno1, @aluno2

docs: add JWT_ACCESS_SECRET to .env.example
  .env.example
Owners: @org/time-devs

config: add JWT_ACCESS_EXPIRES_IN environment variable
  .env.example
  src/auth/auth.module.ts
Owners: @org/time-devs, @aluno1, @aluno2

fix: use JWT_ACCESS_EXPIRES_IN environment variable for JWT expiresIn
  src/auth/auth.module.ts
Owners: @org/time-devs, @aluno1, @aluno2

docs: add JWT_ACCESS_SECRET to .env.example (#43)
  .env.example
Owners: @org/time-devs

chore(docs): move events HTTP requests to https/events and add GET /events
  https/events/events.http
Owners: none

chore(docs): remove duplicate docs/events.http after move
  docs/events.http
Owners: none

docs(http): add variableized events.http (host/apiBase/token/eventId) and notes; use /v1 prefix
  https/events/events.http.tmp
Owners: none

docs(http): variableize events.http and use apiBase /v1; add notes
  https/events/events.http
  https/events/events.http.tmp
Owners: none

Docs/events http vars (#44)
  docs/events.http
  https/events/events.http
Owners: none

docs: add HTTP template and document HTTP examples pattern in LLM-UNIFIED-GUIDE.md
  LLM-UNIFIED-GUIDE.md
  https/http-template.http
Owners: @org/time-devs

Docs/add http template (#45)
  LLM-UNIFIED-GUIDE.md
  https/http-template.http
Owners: @org/time-devs

fix(migration): create unique index instead of unsupported ALTER ADD CONSTRAINT IF NOT EXISTS; make down drop index and optionally recreate constraint
  src/database/migrations/1729090000002-RemoveDuplicateUsersEmailIndexes.ts
Owners: @org/time-devs, @aluno1, @aluno2

fix(migrations/events): use CREATE UNIQUE INDEX IF NOT EXISTS and map Event entity to 'events' table
  src/database/migrations/1750000000000-RemoveDuplicateUsersEmailIndexes2.ts
  src/database/migrations/1758049174211-EnsureSingleUsersEmailUniqueIndex.ts
  src/events/entities/event.entity.ts
Owners: @org/time-devs, @aluno1, @aluno2

fix(events): migrations + entity table mapping (#46)
  src/database/migrations/1729090000002-RemoveDuplicateUsersEmailIndexes.ts
  src/database/migrations/1750000000000-RemoveDuplicateUsersEmailIndexes2.ts
  src/database/migrations/1758049174211-EnsureSingleUsersEmailUniqueIndex.ts
  src/events/entities/event.entity.ts
Owners: @org/time-devs, @aluno1, @aluno2

chore(auth): add RefreshToken entity and migration (1710000000000)
  src/auth/entities/refresh-token.entity.ts
  src/database/migrations/1710000000000-create-auth-refresh-tokens.ts
Owners: @org/time-devs, @aluno1, @aluno2

test: add DI smoke test for RefreshToken repository
  test/auth.refresh-repo.smoke.spec.ts
Owners: @org/time-devs

tests: move smoke test to test/smoke/auth and fix imports
  package-lock.json
  package.json
  test/auth.refresh-repo.smoke.spec.ts
  test/smoke/auth/refresh-repo.postgres.smoke.spec.ts
Owners: @org/time-devs

tests: lint fixes - dotenv import and nullish coalescing in smoke test
  test/smoke/auth/refresh-repo.postgres.smoke.spec.ts
Owners: @org/time-devs

docs: expand LLM guide with mandatory lint/test checklist and TS rules
  LLM-UNIFIED-GUIDE.md
Owners: @org/time-devs

ci: add smoke job to run DB-dependent smoke tests (postgres)
  .github/workflows/ci.yml
Owners: @org/devops

ci: quote pg_isready health-cmd to avoid docker flag parsing
  .github/workflows/ci.yml
Owners: @org/devops

migration: make citext migration safe when users table is absent
  src/database/migrations/1729090000000-EnableCitextAndUsersEmailCitext.ts
Owners: @org/time-devs, @aluno1, @aluno2

migration: make users-index migrations safe when users table is absent
  src/database/migrations/1729090000001-RenameUsersEmailUniqueIndex.ts
  src/database/migrations/1729090000002-RemoveDuplicateUsersEmailIndexes.ts
Owners: @org/time-devs, @aluno1, @aluno2

migration: fix plpgsql block declarations in RemoveDuplicateUsersEmailIndexes
  src/database/migrations/1729090000002-RemoveDuplicateUsersEmailIndexes.ts
Owners: @org/time-devs, @aluno1, @aluno2

ci: make migrations step verbose (set -x, DEBUG=typeorm) for better logs
  .github/workflows/ci.yml
Owners: @org/devops

migration: fix DO 10758 block declarations (declare r before BEGIN)
  src/database/migrations/1729090000002-RemoveDuplicateUsersEmailIndexes.ts
Owners: @org/time-devs, @aluno1, @aluno2

ci: capture migration logs to migration.log and upload artifact for debugging
  .github/workflows/ci.yml
Owners: @org/devops

ci(test): provide Postgres service and readiness checks for test job
  .github/workflows/ci.yml
Owners: @org/devops

feature/add refresh token entity migration (#49)
  .github/workflows/ci.yml
  LLM-UNIFIED-GUIDE.md
  package-lock.json
  package.json
  src/auth/entities/refresh-token.entity.ts
  src/database/migrations/1710000000000-create-auth-refresh-tokens.ts
  src/database/migrations/1729090000000-EnableCitextAndUsersEmailCitext.ts
  src/database/migrations/1729090000001-RenameUsersEmailUniqueIndex.ts
  src/database/migrations/1729090000002-RemoveDuplicateUsersEmailIndexes.ts
  test/smoke/auth/refresh-repo.postgres.smoke.spec.ts
Owners: @org/devops, @org/time-devs, @aluno1, @aluno2

chore: move local refresh-token & migration changes to new branch
  LLM-UNIFIED-GUIDE.md
  src/auth/entities/refresh-token.entity.ts
  src/database/migrations/1710000000000-create-auth-refresh-tokens.ts
Owners: @org/time-devs, @aluno1, @aluno2

feat(auth): add DTOs for login, refresh and logout (PR 2)
  src/auth/dtos/login.dto.ts
  src/auth/dtos/logout.dto.ts
  src/auth/dtos/refresh.dto.ts
Owners: @org/time-devs, @aluno1, @aluno2

test: add tmp DTO validation script (not for production)
  tmp/validate-dtos.ts
Owners: none

chore(test): remove tmp DTO validation script
  tmp/validate-dtos.ts
Owners: none

feat(auth): add DTOs for login, refresh and logout (PR 2) (#51)
  src/auth/dtos/login.dto.ts
  src/auth/dtos/logout.dto.ts
  src/auth/dtos/refresh.dto.ts
Owners: @org/time-devs, @aluno1, @aluno2

.github/CODEOWNERS:

/src/** @org/time-devs @aluno1 @aluno2
/test/** @org/time-devs
/.github/** @org/devops
/* @org/time-devs
