Repository evertonfoz/dsc-2025-2-aurora-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @org/time-devs, @aluno1, @aluno2, @org/devops

.github/CODEOWNERS:

/src/** @org/time-devs @aluno1 @aluno2
/test/** @org/time-devs
/.github/** @org/devops
/* @org/time-devs

Add pull request template for better guidelines
  .github/pull_request_template.md
Owners: @org/devops

Add pull request template for better guidelines (#5)
  .github/pull_request_template.md
Owners: @org/devops

Update README with branch protection audit criteria
  README.md
Owners: @org/time-devs

Update README with branch protection audit details
  README.md
Owners: @org/time-devs

Update README with branch protection audit details (#6)
  README.md
Owners: @org/time-devs

feat: nest skeleton (copiado do tmp; preserva .github e README)
  .prettierrc
  eslint.config.mjs
  nest-cli.json
  package.json
  src/app.controller.spec.ts
  src/app.controller.ts
  src/app.module.ts
  src/app.service.ts
  src/main.ts
  test/app.e2e-spec.ts
  test/jest-e2e.json
  tsconfig.build.json
  tsconfig.json
Owners: @org/time-devs, @aluno1, @aluno2

chore: add lockfile for npm ci
  package-lock.json
Owners: @org/time-devs

chore(lint): fix no-floating-promises e supertest typings; add lockfile p/ npm ci
  src/main.ts
  test/app.e2e-spec.ts
Owners: @org/time-devs, @aluno1, @aluno2

ci: detectar workspaces; usar npm run no repo simples
  .github/workflows/ci.yml
Owners: @org/devops

feat: nest skeleton (copiado do tmp; preserva .github e README) (#7)
  .github/workflows/ci.yml
  .prettierrc
  eslint.config.mjs
  nest-cli.json
  package-lock.json
  package.json
  src/app.controller.spec.ts
  src/app.controller.ts
  src/app.module.ts
  src/app.service.ts
  src/main.ts
  test/app.e2e-spec.ts
  test/jest-e2e.json
  tsconfig.build.json
  tsconfig.json
Owners: @org/devops, @org/time-devs, @aluno1, @aluno2

Update main.ts
  src/main.ts
Owners: @org/time-devs, @aluno1, @aluno2

Update main.ts (#8)
  src/main.ts
Owners: @org/time-devs, @aluno1, @aluno2

docs(repo): adicionar templates de issue/PR, contributing e code of conduct
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/pull_request_template.md
  .github/pull_request_template.md
  setup-governanca.sh
Owners: @org/devops, @org/time-devs

docs(repo): adicionar templates de issue/PR, contributing e code of conduct (#11)
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/pull_request_template.md
  .github/pull_request_template.md
  setup-governanca.sh
Owners: @org/devops, @org/time-devs

chore(infra): provisionar PostgreSQL com Docker Compose e ajustar DataSource
  .env.example
  .gitignore
  docker-compose.yml
  package-lock.json
  package.json
  src/database/data-source.ts
Owners: @org/time-devs, @aluno1, @aluno2

build(eslint): enable esModuleInterop/ASDI e incluir tipos do jest no tsconfig.eslint.json
  .eslintrc.cjs
  test/app.e2e-spec.ts
  tsconfig.eslint.json
Owners: @org/time-devs

build(eslint): enable esModuleInterop/ASDI e incluir tipos do jest no tsconfig.eslint.json
  .eslintrc.cjs
  test/app.e2e-spec.ts
  tsconfig.eslint.json
Owners: @org/time-devs

build(eslint): enable esModuleInterop/ASDI e incluir tipos do jest no tsconfig.eslint.json (#14)
  .eslintrc.cjs
  test/app.e2e-spec.ts
  tsconfig.eslint.json
Owners: @org/time-devs

chore(db): DataSource TypeORM (CJS) + tsconfig/eslint + scripts
  .eslintrc.cjs
  .gitignore
  package-lock.json
  package.json
  src/database/data-source.ts
  tsconfig.eslint.json
  tsconfig.json
Owners: @org/time-devs, @aluno1, @aluno2

ci(test): align jest 29 with ts-jest 29 to fix CI ETARGET
  package-lock.json
  package.json
Owners: @org/time-devs

chore(lint): remover flat config e usar .eslintrc.cjs
  eslint.config.mjs
Owners: @org/time-devs

ci(lint): pin eslint@8 para usar .eslintrc.cjs (compat v9)
  package-lock.json
  package.json
Owners: @org/time-devs

fix(lint): incluir testes no tsconfig.eslint e usar ?? no DB_PORT
  src/database/data-source.ts
  tsconfig.eslint.json
Owners: @org/time-devs, @aluno1, @aluno2

fix(lint): forçar uso do tsconfig.eslint.json (sem projectService/allowDefaultProject)
  .eslintrc.cjs
Owners: @org/time-devs

test(jest): add jest-util (compat ts-jest on CI) e alinhar versões 29.x
  package-lock.json
  package.json
Owners: @org/time-devs

chore(db): DataSource TypeORM (CJS) + tsconfig/eslint + scripts (#16)
  .eslintrc.cjs
  .gitignore
  eslint.config.mjs
  package-lock.json
  package.json
  src/database/data-source.ts
  tsconfig.eslint.json
  tsconfig.json
Owners: @org/time-devs, @aluno1, @aluno2

infra(docker): adicionar docker-compose para dev local (db, api, volumes e healthchecks)
  docker-compose.yml
Owners: @org/time-devs

infra(docker): adicionar docker-compose para dev local (db, api, volumes e healthchecks) (#18)
  docker-compose.yml
Owners: @org/time-devs

feat(users): entidade + migração (timestamp JS) e runner de migrações; export default no data-source
  scripts/run-migrations.ts
  src/database/data-source.ts
  src/database/migrations/1758049174210-CreateUsersTable.ts
  src/users/entities/user.entity.ts
Owners: @org/time-devs, @aluno1, @aluno2

feat(users): entidade + migração (timestamp JS) e runner de migrações; export default no data-source (#20)
  scripts/run-migrations.ts
  src/database/data-source.ts
  src/database/migrations/1758049174210-CreateUsersTable.ts
  src/users/entities/user.entity.ts
Owners: @org/time-devs, @aluno1, @aluno2

aula
  .dockerignore
  Dockerfile
  docker-compose.yml
  package-lock.json
  package.json
  scripts/run-migrations.ts
  src/app.module.ts
  src/database/data-source.ts
  src/main.ts
  src/users/domain/user-role.enum.ts
  src/users/dtos/create-user.dto.ts
  src/users/dtos/paginated-users-response.dto.ts
  src/users/dtos/pagination-query.dto.ts
  src/users/dtos/query-users.dto.ts
  src/users/dtos/user-response.dto.ts
  src/users/entities/user.entity.ts
  src/users/users.controller.ts
  src/users/users.module.ts
  src/users/users.service.ts
  start.sh
  test/mocks/repository.mock.ts
  test/users/users.controller.spec.ts
  test/users/users.service.create.spec.ts
  test/users/users.service.find.spec.ts
Owners: @org/time-devs, @aluno1, @aluno2

fix(users): lint e tipos no DTO/Service/Controller; bootstrap com catch; prefer ??
  src/app.module.ts
  src/database/data-source.ts
  src/database/migrations/1758049174210-CreateUsersTable.ts
  src/main.ts
  src/users/dtos/create-user.dto.ts
  src/users/dtos/pagination-query.dto.ts
  src/users/dtos/query-users.dto.ts
  src/users/entities/user.entity.ts
  src/users/users.controller.ts
  src/users/users.module.ts
  src/users/users.service.ts
  test/mocks/repository.mock.ts
  test/users/users.controller.spec.ts
  test/users/users.service.create.spec.ts
  test/users/users.service.find.spec.ts
Owners: @org/time-devs, @aluno1, @aluno2

fix(users): lint e tipos no DTO/Service/Controller; bootstrap com catch; prefer ??
  test/users/users.service.find.spec.ts
Owners: @org/time-devs

Feat/minha tarefa (#22)
  .dockerignore
  Dockerfile
  docker-compose.yml
  package-lock.json
  package.json
  scripts/run-migrations.ts
  src/app.module.ts
  src/database/data-source.ts
  src/database/migrations/1758049174210-CreateUsersTable.ts
  src/main.ts
  src/users/domain/user-role.enum.ts
  src/users/dtos/create-user.dto.ts
  src/users/dtos/paginated-users-response.dto.ts
  src/users/dtos/pagination-query.dto.ts
  src/users/dtos/query-users.dto.ts
  src/users/dtos/user-response.dto.ts
  src/users/entities/user.entity.ts
  src/users/users.controller.ts
  src/users/users.module.ts
  src/users/users.service.ts
  start.sh
  test/mocks/repository.mock.ts
  test/users/users.controller.spec.ts
  test/users/users.service.create.spec.ts
  test/users/users.service.find.spec.ts
Owners: @org/time-devs, @aluno1, @aluno2

fix(tests): corrigir problemas de tipagem nos testes
  test/mocks/repository.mock.ts
  test/users/users.service.create.spec.ts
Owners: @org/time-devs

fix(tests): corrigir problemas de tipagem nos testes (#23)
  test/mocks/repository.mock.ts
  test/users/users.service.create.spec.ts
Owners: @org/time-devs

ajustes
  src/users/users.controller.ts
  src/users/users.service.ts
Owners: @org/time-devs, @aluno1, @aluno2

ajustes (#24)
  src/users/users.controller.ts
  src/users/users.service.ts
Owners: @org/time-devs, @aluno1, @aluno2

Update users.service.find.spec.ts
  test/users/users.service.find.spec.ts
Owners: @org/time-devs

docs: documenta processo didático de uso do Copilot Chat para desenvolvimento guiado
  docs/prompts/tests/users/crud_endpoints_analysis.md
  src/users/dtos/update-user.dto.ts
  src/users/users.controller.ts
  src/users/users.service.ts
  test/users/users.controller.spec.ts
Owners: @org/time-devs, @aluno1, @aluno2
