Repository evertonfoz/dsc-2025-2-aurora-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @org/time-devs, @aluno1, @aluno2, @org/devops

.github/CODEOWNERS:

/src/** @org/time-devs @aluno1 @aluno2
/test/** @org/time-devs
/.github/** @org/devops
/* @org/time-devs

fix(lint): remove unused catch params; add PR template with lint checklist
  .github/PULL_REQUEST_TEMPLATE.md
  src/auth/users-http.client.ts
  src/events/events.controller.ts
  src/events/events.service.ts
Owners: @org/devops, @org/time-devs, @aluno1, @aluno2

feat(events): reintroduce logging and tidy docker-compose (#55)
  .github/PULL_REQUEST_TEMPLATE.md
  LLM-UNIFIED-GUIDE.md
  docker-compose.yml
  https/auth/auth.http
  src/auth/README.md
  src/auth/users-http.client.ts
  src/events/events.controller.ts
  src/events/events.service.ts
  src/users/dto/validate-user.dto.ts
  src/users/users.controller.ts
  src/users/users.service.ts
Owners: @org/devops, @org/time-devs, @aluno1, @aluno2

feat(auth): wire Passport JWT strategy and guard; make ConfigService optional for tests
  package-lock.json
  package.json
  src/app.module.ts
  src/auth/auth.module.ts
  src/auth/strategies/jwt.strategy.ts
  src/common/guards/jwt-auth.guard.ts
  test/auth/controllers/auth.controller.login.spec.ts
  test/auth/controllers/auth.controller.logout.spec.ts
  test/auth/controllers/auth.controller.me.spec.ts
  test/auth/controllers/auth.controller.refresh.spec.ts
  test/auth/services/auth.service.login.spec.ts
  test/auth/services/auth.service.logout.spec.ts
  test/auth/services/auth.service.refresh.spec.ts
  test/events/controllers/events.controller.create.spec.ts
  test/events/controllers/events.controller.find.spec.ts
  test/events/controllers/events.controller.findOne.spec.ts
  test/events/controllers/events.controller.update.spec.ts
  test/events/services/events.service.create.spec.ts
  test/events/services/events.service.findOne.spec.ts
  test/events/services/events.service.publish.spec.ts
  test/events/services/events.service.update.spec.ts
  test/users/controllers/users.controller.create.spec.ts
  test/users/controllers/users.controller.findAll.spec.ts
  test/users/controllers/users.controller.findOne.spec.ts
  test/users/controllers/users.controller.patch.spec.ts
  test/users/controllers/users.controller.update.spec.ts
  test/users/services/users.service.create.spec.ts
  test/users/services/users.service.findOne.spec.ts
Owners: @org/time-devs, @aluno1, @aluno2

fix(lint): type request in JwtAuthGuard to avoid unsafe any
  src/common/guards/jwt-auth.guard.ts
Owners: @org/time-devs, @aluno1, @aluno2

chore(auth): fail fast when JWT secret missing in production
  src/auth/auth.controller.ts
  src/auth/strategies/jwt.strategy.ts
  src/auth/users-http.client.ts
  src/events/events.controller.ts
  src/events/events.service.ts
  src/users/users.controller.ts
  src/users/users.service.ts
  test/auth/controllers/auth.controller.login.spec.ts
  test/auth/controllers/auth.controller.logout.spec.ts
  test/auth/controllers/auth.controller.me.spec.ts
  test/auth/controllers/auth.controller.refresh.spec.ts
  test/auth/services/auth.service.login.spec.ts
  test/auth/services/auth.service.refresh.spec.ts
  test/events/controllers/events.controller.create.spec.ts
  test/events/controllers/events.controller.find.spec.ts
  test/events/controllers/events.controller.findOne.spec.ts
  test/events/controllers/events.controller.update.spec.ts
  test/events/services/events.service.findOne.spec.ts
  test/events/services/events.service.publish.spec.ts
  test/users/controllers/users.controller.create.spec.ts
  test/users/controllers/users.controller.findAll.spec.ts
  test/users/controllers/users.controller.findOne.spec.ts
  test/users/controllers/users.controller.patch.spec.ts
  test/users/controllers/users.controller.update.spec.ts
  test/users/services/users.service.create.spec.ts
  test/users/services/users.service.findOne.spec.ts
Owners: @org/time-devs, @aluno1, @aluno2

feat(auth): passport JWT strategy + guard (#56)
  package-lock.json
  package.json
  src/app.module.ts
  src/auth/auth.controller.ts
  src/auth/auth.module.ts
  src/auth/strategies/jwt.strategy.ts
  src/auth/users-http.client.ts
  src/common/guards/jwt-auth.guard.ts
  src/events/events.controller.ts
  src/events/events.service.ts
  src/users/users.controller.ts
  src/users/users.service.ts
  test/auth/controllers/auth.controller.login.spec.ts
  test/auth/controllers/auth.controller.logout.spec.ts
  test/auth/controllers/auth.controller.me.spec.ts
  test/auth/controllers/auth.controller.refresh.spec.ts
  test/auth/services/auth.service.login.spec.ts
  test/auth/services/auth.service.logout.spec.ts
  test/auth/services/auth.service.refresh.spec.ts
  test/events/controllers/events.controller.create.spec.ts
  test/events/controllers/events.controller.find.spec.ts
  test/events/controllers/events.controller.findOne.spec.ts
  test/events/controllers/events.controller.update.spec.ts
  test/events/services/events.service.create.spec.ts
  test/events/services/events.service.findOne.spec.ts
  test/events/services/events.service.publish.spec.ts
  test/events/services/events.service.update.spec.ts
  test/users/controllers/users.controller.create.spec.ts
  test/users/controllers/users.controller.findAll.spec.ts
  test/users/controllers/users.controller.findOne.spec.ts
  test/users/controllers/users.controller.patch.spec.ts
  test/users/controllers/users.controller.update.spec.ts
  test/users/services/users.service.create.spec.ts
  test/users/services/users.service.findOne.spec.ts
Owners: @org/time-devs, @aluno1, @aluno2

feat(rbac): apply RolesGuard + JwtAuthGuard on Users/Events controllers; enforce self/owner checks in services; add Swagger bearer and http examples
  https/auth.http
  https/events.http
  https/users.http
  src/auth/auth.controller.ts
  src/common/guards/roles.guard.ts
  src/events/events.controller.ts
  src/users/users.controller.ts
  src/users/users.service.ts
Owners: @org/time-devs, @aluno1, @aluno2

chore(http): consolidate top-level HTTP examples into folder examples and remove duplicates
  https/auth/_merged_examples.http
  https/events/_merged_examples.http
  https/users/_merged_examples.http
Owners: none

feat(rbac): reorder guards, harden JwtAuthGuard dev behavior and add HTTP examples; fix tests
  .env.example
  .gitignore
  Dockerfile.prod
  README.updated.md
  docker-compose.prod.yml
  docs/DEPLOYMENT.md
  https/auth.http
  https/auth/_merged_examples.http
  https/auth/auth.http
  https/events.http
  https/events/_merged_examples.http
  https/events/events.http
  https/http-template.http
  https/users.http
  https/users/_merged_examples.http
  https/users/users.http
  src/auth/auth.controller.ts
  src/common/guards/jwt-auth.guard.ts
  src/events/events.controller.ts
  src/users/users.controller.ts
  test/common/guards/jwt-auth.guard.spec.ts
  test/common/guards/jwt-auth.guard.spec.ts.bak
  test/common/guards/roles.guard.spec.ts
  test/events/controllers/events.controller.find.spec.ts
  test/events/controllers/events.controller.findOne.spec.ts
  test/events/controllers/events.controller.update.spec.ts
  test/rbac.e2e-spec.ts
  test/users/controllers/users.controller.create.spec.ts
  test/users/controllers/users.controller.findAll.spec.ts
  test/users/controllers/users.controller.findOne.spec.ts
  test/users/controllers/users.controller.patch.spec.ts
  test/users/controllers/users.controller.update.spec.ts
  test/utils/asserts.ts
Owners: @org/time-devs, @aluno1, @aluno2

chore(lint): fix ESLint/TS issues in guards, controllers and tests
  src/auth/strategies/jwt.strategy.ts
  src/common/guards/jwt-auth.guard.ts
  src/events/events.controller.ts
  src/events/events.service.ts
  src/users/users.controller.ts
  src/users/users.service.ts
  test/common/guards/jwt-auth.guard.spec.ts
  test/common/guards/roles.guard.spec.ts
  test/events/controllers/events.controller.find.spec.ts
  test/events/controllers/events.controller.findOne.spec.ts
  test/events/controllers/events.controller.update.spec.ts
  test/rbac.e2e-spec.ts
  test/users/controllers/users.controller.findOne.spec.ts
  test/users/controllers/users.controller.patch.spec.ts
  test/users/controllers/users.controller.update.spec.ts
Owners: @org/time-devs, @aluno1, @aluno2

feat(rbac): guards + roles em Users/Events; tests http/e2e (#58)
  .env.example
  .gitignore
  Dockerfile.prod
  README.updated.md
  docker-compose.prod.yml
  docs/DEPLOYMENT.md
  https/auth/auth.http
  https/events/events.http
  https/http-template.http
  https/users/users.http
  src/auth/auth.controller.ts
  src/auth/strategies/jwt.strategy.ts
  src/common/guards/jwt-auth.guard.ts
  src/common/guards/roles.guard.ts
  src/events/events.controller.ts
  src/events/events.service.ts
  src/users/users.controller.ts
  src/users/users.service.ts
  test/common/guards/jwt-auth.guard.spec.ts
  test/common/guards/jwt-auth.guard.spec.ts.bak
  test/common/guards/roles.guard.spec.ts
  test/events/controllers/events.controller.find.spec.ts
  test/events/controllers/events.controller.findOne.spec.ts
  test/events/controllers/events.controller.update.spec.ts
  test/rbac.e2e-spec.ts
  test/users/controllers/users.controller.create.spec.ts
  test/users/controllers/users.controller.findAll.spec.ts
  test/users/controllers/users.controller.findOne.spec.ts
  test/users/controllers/users.controller.patch.spec.ts
  test/users/controllers/users.controller.update.spec.ts
  test/utils/asserts.ts
Owners: @org/time-devs, @aluno1, @aluno2

chore(release): create new-release with scaffold and docs
  docs/auth-extraction-plan.md
  docs/microservices-migration.md
  docs/migration-actions-auth-scaffold.md
  packages/auth-service/Dockerfile
  packages/auth-service/README.md
  packages/auth-service/jest.config.ts
  packages/auth-service/openapi.yaml
  packages/auth-service/package-lock.json
  packages/auth-service/package.json
  packages/auth-service/src/app.ts
  packages/auth-service/src/controllers/auth.controller.ts
  packages/auth-service/src/main.ts
  packages/auth-service/test/contract/openapi.spec.ts
  packages/auth-service/test/integration/auth.integration.spec.ts
  packages/auth-service/tsconfig.json
Owners: none

feat(auth): extract handlers and DTOs from monolith (PR-style)
  packages/auth-service/src/auth/auth.controller.ts
  packages/auth-service/src/auth/auth.service.ts
  packages/auth-service/src/auth/dtos/login.dto.ts
  packages/auth-service/src/auth/dtos/logout.dto.ts
  packages/auth-service/src/auth/dtos/refresh.dto.ts
  packages/auth-service/src/auth/entities/refresh-token.entity.ts
  packages/auth-service/src/auth/users-http.client.ts
Owners: none

chore(auth-service): change default port to 3002 and update docs
  docs/auth-extraction-plan.md
  docs/migration-actions-auth-scaffold.md
  packages/auth-service/Dockerfile
  packages/auth-service/src/main.ts
Owners: none

docs(auth-service): add auth-service demo documentation
  docs/auth-service-demo.md
Owners: none

docs(auth-service): add demo scripts section
  docs/auth-service-demo.md
Owners: none

chore(auth-service): add demo script, backup README, and student README; update docs
  docs/auth-service-demo.md
  packages/auth-service/README.md
  packages/auth-service/README.original.md
  packages/auth-service/package.json
Owners: none

fix(auth-service): point copied controller imports to local service and add stub guards
  packages/auth-service/src/auth/auth.controller.ts
  packages/auth-service/src/common/guards/jwt-auth.guard.ts
  packages/auth-service/src/common/guards/roles.guard.ts
Owners: none

chore(auth-service): move copied Nest artifacts to extracted-auth and exclude from tsconfig
  packages/auth-service/extracted-auth/auth.controller.ts
  packages/auth-service/extracted-auth/auth.service.ts
  packages/auth-service/extracted-auth/dtos/login.dto.ts
  packages/auth-service/extracted-auth/dtos/logout.dto.ts
  packages/auth-service/extracted-auth/dtos/refresh.dto.ts
  packages/auth-service/extracted-auth/entities/refresh-token.entity.ts
  packages/auth-service/extracted-auth/users-http.client.ts
  packages/auth-service/tsconfig.json
Owners: none

chore(auth-service): exclude extracted-auth from tsconfig
  packages/auth-service/tsconfig.json
Owners: none

chore(build): exclude extracted auth copies from build
  tsconfig.build.json
Owners: @org/time-devs

chore(auth-service): remove extracted-auth and copied Nest files, keep only Express minimal provider
  packages/auth-service/extracted-auth/auth.controller.ts
  packages/auth-service/extracted-auth/auth.service.ts
  packages/auth-service/extracted-auth/dtos/login.dto.ts
  packages/auth-service/extracted-auth/dtos/logout.dto.ts
  packages/auth-service/extracted-auth/dtos/refresh.dto.ts
  packages/auth-service/extracted-auth/entities/refresh-token.entity.ts
  packages/auth-service/extracted-auth/users-http.client.ts
  packages/auth-service/src/auth/auth.controller.ts
  packages/auth-service/src/auth/auth.service.ts
  packages/auth-service/src/auth/dtos/login.dto.ts
  packages/auth-service/src/auth/dtos/logout.dto.ts
  packages/auth-service/src/auth/dtos/refresh.dto.ts
  packages/auth-service/src/auth/entities/refresh-token.entity.ts
  packages/auth-service/src/auth/users-http.client.ts
  packages/auth-service/src/common/guards/jwt-auth.guard.ts
  packages/auth-service/src/common/guards/roles.guard.ts
  packages/auth-service/tsconfig.json
  tsconfig.build.json
Owners: @org/time-devs

docs(auth-service): reescrever documentação para clareza e replicabilidade
  docs/auth-service-demo.md
  packages/auth-service/README.md
Owners: none

chore(events-service): add events-service package structure
  packages/events-service/nest-cli.json
  packages/events-service/package.json
  packages/events-service/src/app.module.ts
  packages/events-service/src/events/dto/create-event.dto.ts
  packages/events-service/src/events/dto/event.dto.ts
  packages/events-service/src/events/entities/event.entity.ts
  packages/events-service/src/events/enums/event-type.enum.ts
  packages/events-service/src/events/events.controller.ts
  packages/events-service/src/events/events.module.ts
  packages/events-service/src/events/events.service.ts
  packages/events-service/src/events/pipes/validation.pipe.ts
  packages/events-service/src/events/utils/index.ts
  packages/events-service/src/main.ts
  packages/events-service/test/contract/openapi.spec.ts
  packages/events-service/test/events.controller.spec.ts
  packages/events-service/tsconfig.json
Owners: none

chore(events-service): fix package.json main/types and add pm2 devDependency
  packages/events-service/package.json
Owners: none

fix(users-service): type express req/res in main.ts to avoid implicit any
  packages/users-service/src/main.ts
Owners: none

auth: revoke access tokens on logout (lastLogoutAt) and update REST client instructions
  https/auth/auth.http
  packages/auth-service/src/auth.service.ts
  packages/auth-service/src/strategies/jwt.strategy.ts
  packages/auth-service/src/users-http.client.ts
  packages/users-service/package.json
  packages/users-service/src/app.module.ts
  packages/users-service/src/check-users.ts
  packages/users-service/src/data-source.ts
  packages/users-service/src/main.ts
  packages/users-service/src/migrations/1760000000000-CreateUsersTable.ts
  packages/users-service/src/migrations/1760000001000-AddLastLogoutAtColumn.ts
  packages/users-service/src/polyfill-crypto.ts
  packages/users-service/src/users/dto/update-user.dto.ts
  packages/users-service/src/users/dto/user.dto.ts
  packages/users-service/src/users/entities/user.entity.ts
  packages/users-service/src/users/enums/user-role.enum.ts
  packages/users-service/src/users/users.controller.ts
  packages/users-service/src/users/users.module.ts
  packages/users-service/src/users/users.service.ts
  packages/users-service/test/app.e2e-spec.ts
  packages/users-service/test/users.service.spec.ts
Owners: none

chore(http): update users HTTP requests (login/logout helpers, separate auth/users hosts, port fixes)
  https/users/users.http
Owners: none

chore(migration): add last_logout_at column to users table
  src/database/migrations/1761000000000-AddLastLogoutAtToUsers.ts
Owners: @org/time-devs, @aluno1, @aluno2

chore(migrations): make users-related migrations schema-aware and safe; guard addLastLogout migration
  src/auth/auth.module.ts
  src/auth/auth.service.ts
  src/auth/strategies/jwt.strategy.ts
  src/database/migrations/1729090000000-EnableCitextAndUsersEmailCitext.ts
  src/database/migrations/1729090000001-RenameUsersEmailUniqueIndex.ts
  src/database/migrations/1729090000002-RemoveDuplicateUsersEmailIndexes.ts
  src/database/migrations/1758049174211-EnsureSingleUsersEmailUniqueIndex.ts
  src/database/migrations/1761000000000-AddLastLogoutAtToUsers.ts
  src/users/dto/user-response.dto.ts
  src/users/entities/user.entity.ts
  src/users/users.service.ts
Owners: @org/time-devs, @aluno1, @aluno2

chore(migrations): make remaining users-index migrations schema-aware
  src/database/migrations/1729090000001-RenameUsersEmailUniqueIndex.ts
  src/database/migrations/1729090000002-RemoveDuplicateUsersEmailIndexes.ts
  src/database/migrations/1750000000000-RemoveDuplicateUsersEmailIndexes2.ts
  src/database/migrations/1758049174211-EnsureSingleUsersEmailUniqueIndex.ts
Owners: @org/time-devs, @aluno1, @aluno2

chore(auth/users): protect /users/validate with ServiceTokenGuard and send X-Service-Token from Auth client
  src/auth/users-http.client.ts
  src/common/guards/service-token.guard.ts
  src/users/users.controller.ts
  src/users/users.module.ts
Owners: @org/time-devs, @aluno1, @aluno2

chore(env): add .env.example with SERVICE_TOKEN and defaults
  .env.example
Owners: @org/time-devs

chore(security): refuse default SERVICE_TOKEN value in ServiceTokenGuard
  src/common/guards/service-token.guard.ts
Owners: @org/time-devs, @aluno1, @aluno2

fix(security): implement service token check inline in users/validate controller
  .env.example
  docker-compose.yml
  packages/common/src/guards/service-token.guard.ts
  packages/users-service/src/users/users.controller.ts
  src/users/users.controller.ts
Owners: @org/time-devs, @aluno1, @aluno2

feat(security): implement service token authentication between services
  docker-compose.yml
  https/users/users.http
  packages/auth-service/src/users-http.client.ts
Owners: @org/time-devs

fix(security): exige x-service-token em todos os endpoints protegidos (users e logout), corrige ServiceTokenGuard, adiciona HttpExceptionFilter global e exemplos http atualizados
  https/users/users.http
  packages/auth-service/src/auth.controller.ts
  packages/auth-service/src/main.ts
  packages/common/src/filters/http-exception.filter.ts
  packages/common/src/guards/service-token.guard.ts
  packages/common/src/index.ts
  packages/users-service/src/main.ts
  src/app.module.ts
  src/auth/auth.controller.ts
  src/common/filters/http-exception.filter.ts
  src/common/guards/jwt-auth.guard.ts
  src/common/guards/service-token.guard.ts
  src/common/interceptors/transform-response.interceptor.ts
  src/common/middleware/error-handling.middleware.ts
  src/main.ts
  src/users/users.controller.ts
  test/common/guards/jwt-auth.guard.spec.ts
  test/common/guards/service-token.guard.spec.ts
Owners: @org/time-devs, @aluno1, @aluno2

fix(lint): remove any, unsafe member access e operadores || inseguros nos filters e guards
  packages/common/src/filters/http-exception.filter.ts
Owners: none

fix(lint): corrige tipagem, acesso seguro e uso de nullish coalescing nos filters e guards
  packages/common/src/guards/service-token.guard.ts
  src/auth/auth.service.ts
  src/common/filters/http-exception.filter.ts
  src/common/guards/jwt-auth.guard.ts
  src/common/guards/service-token.guard.ts
Owners: @org/time-devs, @aluno1, @aluno2

fix(lint): tipagem forte e acesso seguro em ServiceTokenGuard, middleware e main.ts
  src/common/guards/service-token.guard.ts
  src/common/middleware/error-handling.middleware.ts
Owners: @org/time-devs, @aluno1, @aluno2
