Repository evertonfoz/dsc-2025-2-aurora-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @org/time-devs, @aluno1, @aluno2, @org/devops

fix(lint): usa ??= (nullish coalescing assignment) em ServiceTokenGuard
  src/common/guards/service-token.guard.ts
Owners: @org/time-devs, @aluno1, @aluno2

fix(lint): use nullish coalescing (??) for x-service-token header lookup in users-service controller
  packages/users-service/src/users/users.controller.ts
Owners: none

fix(main): remove duplicated block causing parse error
  src/main.ts
Owners: @org/time-devs, @aluno1, @aluno2

fix(lint): use ??= for req.user assignment in ServiceTokenGuard
  src/common/guards/service-token.guard.ts
Owners: @org/time-devs, @aluno1, @aluno2

fix(lint): revert ??= to if statement pattern for ServiceTokenGuard
  src/common/guards/service-token.guard.ts
Owners: @org/time-devs, @aluno1, @aluno2

fix(lint): use ?? instead of ??= for header assignment
  src/common/guards/service-token.guard.ts
Owners: @org/time-devs, @aluno1, @aluno2

fix(lint): use ??= for req.user assignment as required by prefer-nullish-coalescing
  src/common/guards/service-token.guard.ts
Owners: @org/time-devs, @aluno1, @aluno2

fix(build): corrige casts inseguros no filter e remove decorators Swagger não suportados
  packages/common/src/filters/http-exception.filter.ts
  src/auth/auth.service.ts
  src/auth/strategies/jwt.strategy.ts
  src/common/filters/http-exception.filter.ts
  src/common/guards/jwt-auth.guard.ts
  src/common/interceptors/transform-response.interceptor.ts
  src/database/data-source.ts
  src/main.ts
  src/users/users.controller.ts
  src/users/users.module.ts
  src/users/users.service.ts
  test/common/guards/service-token.guard.spec.ts
Owners: @org/time-devs, @aluno1, @aluno2

fix(auth-service): remove segundo argumento de getById e rebuild @aurora/common
  packages/auth-service/src/auth.service.ts
Owners: none

fix: unsafe casts in src/common filter (same pattern as packages/common)
  src/common/filters/http-exception.filter.ts
Owners: @org/time-devs, @aluno1, @aluno2

fix: remove unused UserRole import from users.controller
  src/users/users.controller.ts
Owners: @org/time-devs, @aluno1, @aluno2

fix: exclude packages/ from root tsconfig to prevent module resolution conflicts
  tsconfig.json
Owners: @org/time-devs

chore: remove legacy root test directory
  packages/events-service/test/contract/openapi.spec.ts
  packages/events-service/test/events.controller.spec.ts
Owners: none

chore: add test script to common and events-service packages
  packages/common/package.json
  packages/events-service/package.json
Owners: none

test(smoke): add placeholder smoke tests for all packages
  packages/auth-service/test/smoke/placeholder.smoke.spec.ts
  packages/common/test/smoke/placeholder.smoke.spec.ts
  packages/events-service/test/smoke/placeholder.smoke.spec.ts
  packages/users-service/test/smoke/placeholder.smoke.spec.ts
Owners: none

ci: skip smoke step when not present; test(smoke): add placeholder smoke tests for packages
  .github/workflows/ci.yml
Owners: @org/devops

chore: remove legacy src/events (migrated to packages/events-service)
  src/events/dto/create-event.dto.ts
  src/events/dto/update-event.dto.ts
  src/events/entities/event.entity.ts
  src/events/enums/event-state.enum.ts
  src/events/enums/event-visibility.enum.ts
  src/events/events.controller.ts
  src/events/events.module.ts
  src/events/events.service.ts
  src/events/pipes/iso-date.pipe.ts
  src/events/utils/slug.util.ts
Owners: @org/time-devs, @aluno1, @aluno2

chore: remove events feature from events-service
  packages/events-service/src/events/dto/create-event.dto.ts
  packages/events-service/src/events/dto/event-response.dto.ts
  packages/events-service/src/events/dto/index.ts
  packages/events-service/src/events/dto/update-event.dto.ts
  packages/events-service/src/events/entities/event.entity.ts
  packages/events-service/src/events/enums/event-state.enum.ts
  packages/events-service/src/events/enums/event-type.enum.ts
  packages/events-service/src/events/enums/event-visibility.enum.ts
  packages/events-service/src/events/events.controller.ts
  packages/events-service/src/events/events.module.ts
  packages/events-service/src/events/events.service.ts
  packages/events-service/src/events/pipes/iso-date.pipe.ts
  packages/events-service/src/events/pipes/validation.pipe.ts
  packages/events-service/src/events/utils/index.ts
  packages/events-service/src/events/utils/slug.util.ts
Owners: none

chore: require SERVICE_TOKEN + JWT for events & users; switch users-service to ServiceAndJwtGuard; update guards and http tests
  LLM-UNIFIED-GUIDE.md
  docker-compose.yml
  https/events/events.http
  package-lock.json
  package.json
  packages/auth-service/src/app.module.ts
  packages/auth-service/src/dtos/login.dto.ts
  packages/common/package-lock.json
  packages/common/src/guards/service-and-jwt.guard.ts
  packages/common/src/index.ts
  packages/common/src/utils/slug.util.ts
  packages/events-service/Dockerfile
  packages/events-service/package-lock.json
  packages/events-service/package.json
  packages/events-service/src/app.module.ts
  packages/events-service/src/dto/create-event.dto.ts
  packages/events-service/src/dto/event-response.dto.ts
  packages/events-service/src/dto/index.ts
  packages/events-service/src/dto/update-event.dto.ts
  packages/events-service/src/entities/event.entity.ts
  packages/events-service/src/enums/event-state.enum.ts
  packages/events-service/src/enums/event-type.enum.ts
  packages/events-service/src/enums/event-visibility.enum.ts
  packages/events-service/src/events.controller.ts
  packages/events-service/src/events.module.ts
  packages/events-service/src/events.service.ts
  packages/events-service/src/main.ts
  packages/events-service/src/migrations/1699740000000-create-schemas.ts
  packages/events-service/src/migrations/1699740001000-CreateEventsTable.ts
  packages/events-service/src/pipes/iso-date.pipe.ts
  packages/events-service/src/pipes/validation.pipe.ts
  packages/events-service/src/polyfill-crypto.ts
  packages/events-service/src/utils/slug.util.ts
  packages/users-service/src/app.module.ts
  packages/users-service/src/check-users.ts
  packages/users-service/src/users/dto/validate-user.dto.ts
  packages/users-service/src/users/users.controller.ts
  postgres-init/01-create-db-and-schemas.sql
  tsconfig.json
Owners: @org/time-devs

fix: resolve @aurora/common path to source for CI builds
  packages/auth-service/tsconfig.json
  packages/users-service/tsconfig.json
Owners: none

chore: add pre-commit validation hook (husky) to run build + auto-fix attempts
  .husky/pre-commit
  package.json
  scripts/precommit-validate.js
Owners: @org/time-devs

fix(tsconfig): allow including ../common/src by setting rootDir to packages
  packages/auth-service/tsconfig.json
  packages/users-service/tsconfig.json
Owners: none

chore(ci): build @aurora/common first in CI workflow
  .github/workflows/ci.yml
Owners: @org/devops

ci: split workflow into lint, build, test jobs
  .github/workflows/ci.yml
Owners: @org/devops

fix(ci): restore original workflow structure with @aurora/common build first
  .github/workflows/ci.yml
Owners: @org/devops

fix: sync package-lock.json with husky dependency
  package-lock.json
Owners: @org/time-devs

fix: make husky pre-commit hook executable
  .husky/pre-commit
Owners: none

fix: exclude integration tests from local runs, run in CI only
  .github/workflows/ci.yml
  packages/auth-service/jest.config.ts
  packages/auth-service/src/migrations/1700300000000-create-auth-refresh-tokens.ts
  packages/auth-service/src/strategies/jwt.strategy.ts
  packages/auth-service/test/contract/openapi.spec.ts
  packages/auth-service/test/integration/auth.integration.spec.ts
  packages/common/src/decorators/owner-id.decorator.ts
  packages/common/src/decorators/roles.decorator.d.ts
  packages/common/src/filters/http-exception.filter.ts
  packages/common/src/guards/roles.guard.d.ts
  packages/common/src/guards/service-and-jwt.guard.ts
  packages/common/src/guards/service-token.guard.ts
  packages/common/src/guards/token-revocation.guard.ts
  packages/common/src/strategies/jwt.strategy.ts
  packages/common/src/validators/is-strong-password.validator.d.ts
  packages/common/src/validators/is-trimmed.validator.d.ts
  packages/events-service/src/entities/event.entity.ts
  packages/events-service/src/migrations/1699740001000-CreateEventsTable.ts
  packages/events-service/src/utils/slug.util.ts
  packages/users-service/jest.config.js
  packages/users-service/src/users/users.controller.ts
  packages/users-service/src/users/users.module.ts
  packages/users-service/src/users/users.service.ts
  packages/users-service/test/contract/openapi.spec.ts
  packages/users-service/test/users.service.spec.ts
  scripts/precommit-validate.js
Owners: @org/devops

fix(ci): use correct workspace name 'auth-service' instead of '@aurora/auth-service'
  .github/workflows/ci.yml
Owners: @org/devops

fix(ci): use separate jest config for integration tests
  .github/workflows/ci.yml
  packages/auth-service/jest.integration.config.ts
  packages/auth-service/package.json
Owners: @org/devops

fix(ci): create database schemas before running integration tests
  .github/workflows/ci.yml
Owners: @org/devops

fix(test): rewrite integration tests to test error cases instead of assuming data exists
  packages/auth-service/test/integration/auth.integration.spec.ts
Owners: none

fix(test): accept 400 or 401 for invalid refresh token
  packages/auth-service/test/integration/auth.integration.spec.ts
Owners: none

feat: use Testcontainers for integration tests
  .github/workflows/ci.yml
  package-lock.json
  packages/auth-service/jest.integration.config.ts
  packages/auth-service/package.json
  packages/auth-service/test/integration/auth.integration.spec.ts
  scripts/precommit-validate.js
Owners: @org/devops, @org/time-devs

feat: add GitHub Actions workflows for microservices build/push, update prod compose with db init, and deployment guide
  .github/workflows/build-auth-service.yml
  .github/workflows/build-events-service.yml
  .github/workflows/build-users-service.yml
  docker-compose.dev.yml
  docker-compose.prod.yml
  docs/DEPLOYMENT.md
Owners: @org/devops, @org/time-devs

fix: adjust build context to repo root for all service workflows
  .github/workflows/build-auth-service.yml
  .github/workflows/build-events-service.yml
  .github/workflows/build-users-service.yml
Owners: @org/devops

Test workflows (#62)
  .github/workflows/build-auth-service.yml
  .github/workflows/build-events-service.yml
  .github/workflows/build-users-service.yml
  docker-compose.dev.yml
  docker-compose.prod.yml
  docs/DEPLOYMENT.md
Owners: @org/devops, @org/time-devs

ci(debug): print repo tree before docker build in service workflows (temp)
  .github/workflows/build-auth-service.yml
  .github/workflows/build-events-service.yml
  .github/workflows/build-users-service.yml
Owners: @org/devops

Test workflows (#63)
  .github/workflows/build-auth-service.yml
  .github/workflows/build-events-service.yml
  .github/workflows/build-users-service.yml
Owners: @org/devops

ci: remove temporary debug steps from service workflows
  .github/workflows/build-auth-service.yml
  .github/workflows/build-events-service.yml
  .github/workflows/build-users-service.yml
Owners: @org/devops

.github/CODEOWNERS:

/src/** @org/time-devs @aluno1 @aluno2
/test/** @org/time-devs
/.github/** @org/devops
/* @org/time-devs
