Repository evertonfoz/dsc-2025-2-aurora-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @org/time-devs, @aluno1, @aluno2, @org/devops

.github/CODEOWNERS:

/src/** @org/time-devs @aluno1 @aluno2
/test/** @org/time-devs
/.github/** @org/devops
/* @org/time-devs

refactor: remove registrations-migrations service from compose; run migrations on service startup (#81)
  docker-compose.yml
Owners: @org/time-devs

ci: add build-registrations-service workflow and update deploy trigger
  .github/workflows/build-registrations-service.yml
  .github/workflows/deploy-to-vps.yml
Owners: @org/devops

ci: add build-registrations-service workflow and update deploy trigger (#82)
  .github/workflows/build-registrations-service.yml
  .github/workflows/deploy-to-vps.yml
Owners: @org/devops

docs: update DEPLOY_GUIDE with registrations-service and CI/CD workflows documentation
  DEPLOY_GUIDE.md
Owners: @org/time-devs

fix: registrations-service Dockerfile CMD path and add registrations schema init + deploy migrations
  docker-compose.deploy.yml
  packages/registrations-service/Dockerfile
  postgres-init/01-create-db-and-schemas.sql
Owners: @org/time-devs

docs: add production deployment test results to registrations implementation report
  REGISTRATIONS_IMPLEMENTATION_REPORT.md
Owners: @org/time-devs

fix: registrations-service deployment issues and add production test (#83)
  DEPLOY_GUIDE.md
  REGISTRATIONS_IMPLEMENTATION_REPORT.md
  docker-compose.deploy.yml
  packages/registrations-service/Dockerfile
  postgres-init/01-create-db-and-schemas.sql
Owners: @org/time-devs

docs: add release bundle test documentation and results
  DEPLOY_GUIDE.md
Owners: @org/time-devs

docs: add manual workflow deployment test documentation and results
  DEPLOY_GUIDE.md
Owners: @org/time-devs

docs: add comprehensive VPS deployment test results and troubleshooting for registrations-service
  DEPLOY_GUIDE.md
Owners: @org/time-devs

Docs/workflow deploy test (#85)
  DEPLOY_GUIDE.md
Owners: @org/time-devs

docs: rewrite DEPLOY_GUIDE.md as complete step-by-step tutorial for students
  DEPLOY_GUIDE.md
Owners: @org/time-devs

docs: rewrite DEPLOY_GUIDE.md as complete step-by-step tutorial (#86)
  DEPLOY_GUIDE.md
Owners: @org/time-devs

chore: save work before deploy-compose test
  DEPLOY_COMMANDS_ALUNOS.md
  DEPLOY_GUIDE_COMMANDS.md
  docker-compose.deploy.yml
  docker-compose.prod.yml
  docs/casos-pedagogicos/template.md
  docs/issues/2025-12-12-revisao-arquitetura-nestjs.md
  docs/relatorio-revisao-arquitetura-2025-12-12.md
Owners: @org/time-devs

Deploy test: docs/workflow-deploy-test (#87)
  DEPLOY_COMMANDS_ALUNOS.md
  DEPLOY_GUIDE_COMMANDS.md
  docker-compose.deploy.yml
  docker-compose.prod.yml
  docs/casos-pedagogicos/template.md
  docs/issues/2025-12-12-revisao-arquitetura-nestjs.md
  docs/relatorio-revisao-arquitetura-2025-12-12.md
Owners: @org/time-devs

chore: commit pending changes (automated, skip hooks)
  scripts/deploy-vps-test.sh
Owners: none

chore(docker): use node:20 and relax auth-service install for local builds
  packages/auth-service/Dockerfile
  packages/events-service/Dockerfile
  packages/users-service/Dockerfile
Owners: none

fix(types): cast config values to numbers for ThrottlerModule and JwtModule
  packages/auth-service/src/app.module.ts
  packages/auth-service/src/auth.module.ts
  packages/events-service/src/app.module.ts
  packages/users-service/src/app.module.ts
Owners: none

fix(auth): resolve @nestjs/config import issue in auth app.module
  docker-compose.deploy.yml
  docker-compose.dev.yml
  docker-compose.prod.yml
  docs/PREVENCAO-PROBLEMAS-CONFIGURACAO.md
  docs/issues/2025-12-13-config-validacao-seguranca.md
  docs/issues/SOLUCIONADO-2025-12-13-db-credentials-volume.md
  docs/relatorio-revisao-arquitetura-2025-12-12.md
  docs/validation-summary.md
  package-lock.json
  package.json
  packages/auth-service/package.json
  packages/auth-service/src/app.module.ts
  packages/auth-service/src/data-source.ts
  packages/auth-service/src/main.ts
  packages/auth-service/src/users-http.client.ts
  packages/events-service/package.json
  packages/events-service/src/app.module.ts
  packages/events-service/src/data-source.ts
  packages/events-service/src/main.ts
  packages/registrations-service/package.json
  packages/registrations-service/src/main.ts
  packages/registrations-service/src/polyfill-crypto.ts
  packages/registrations-service/src/registrations.module.ts
  packages/users-service/package.json
  packages/users-service/src/app.module.ts
  packages/users-service/src/main.ts
  packages/users-service/src/users.service.ts
  tsconfig.eslint.json
Owners: @org/time-devs

chore(auth-service): commit pendente — ajustes para build local Node 20
  packages/auth-service/src/app.module.ts
  packages/auth-service/src/auth.module.ts
  packages/auth-service/src/users-http.client.ts
Owners: none

fix/docker node20 local build (#88)
  docker-compose.deploy.yml
  docker-compose.dev.yml
  docker-compose.prod.yml
  docs/PREVENCAO-PROBLEMAS-CONFIGURACAO.md
  docs/issues/2025-12-13-config-validacao-seguranca.md
  docs/issues/SOLUCIONADO-2025-12-13-db-credentials-volume.md
  docs/relatorio-revisao-arquitetura-2025-12-12.md
  docs/validation-summary.md
  package-lock.json
  package.json
  packages/auth-service/Dockerfile
  packages/auth-service/package.json
  packages/auth-service/src/app.module.ts
  packages/auth-service/src/auth.module.ts
  packages/auth-service/src/data-source.ts
  packages/auth-service/src/main.ts
  packages/auth-service/src/users-http.client.ts
  packages/events-service/Dockerfile
  packages/events-service/package.json
  packages/events-service/src/app.module.ts
  packages/events-service/src/data-source.ts
  packages/events-service/src/main.ts
  packages/registrations-service/package.json
  packages/registrations-service/src/main.ts
  packages/registrations-service/src/polyfill-crypto.ts
  packages/registrations-service/src/registrations.module.ts
  packages/users-service/Dockerfile
  packages/users-service/package.json
  packages/users-service/src/app.module.ts
  packages/users-service/src/main.ts
  packages/users-service/src/users.service.ts
  scripts/deploy-vps-test.sh
  tsconfig.eslint.json
Owners: @org/time-devs

chore: ajustar scripts de deploy e health dos serviços
  docs/DEPLOYMENT-PUBLIC.md
  docs/RELEASE-BUNDLE.md
  docs/issues/2025-12-15-testes-compose-deploy.md
  docs/relatorio-revisao-arquitetura-2025-12-12.md
  packages/auth-service/src/auth.module.ts
  packages/auth-service/src/health.controller.ts
  packages/users-service/src/health.controller.ts
  packages/users-service/src/users.module.ts
  scripts/deploy-deploy.sh
  scripts/deploy-prod.sh
Owners: none

chore: ajustar scripts de deploy e health dos serviços (#89)
  docs/DEPLOYMENT-PUBLIC.md
  docs/RELEASE-BUNDLE.md
  docs/issues/2025-12-15-testes-compose-deploy.md
  docs/relatorio-revisao-arquitetura-2025-12-12.md
  packages/auth-service/src/auth.module.ts
  packages/auth-service/src/health.controller.ts
  packages/users-service/src/health.controller.ts
  packages/users-service/src/users.module.ts
  scripts/deploy-deploy.sh
  scripts/deploy-prod.sh
Owners: none

fix: corrigir caminhos das imagens Docker no GHCR
  .github/workflows/build-auth-service.yml
  .github/workflows/build-events-service.yml
  .github/workflows/build-registrations-service.yml
  .github/workflows/build-users-service.yml
  DEPLOYMENT_GUIDE.md
  scripts/deploy-prod.sh
Owners: @org/devops, @org/time-devs

fix: corrigir caminhos das imagens Docker no GHCR (#90)
  .github/workflows/build-auth-service.yml
  .github/workflows/build-events-service.yml
  .github/workflows/build-registrations-service.yml
  .github/workflows/build-users-service.yml
  DEPLOYMENT_GUIDE.md
  scripts/deploy-prod.sh
Owners: @org/devops, @org/time-devs

feat(gateway): Fase 6 — API Gateway (Nginx) e docs
  .gitignore
  docker-compose.deploy.yml
  docker-compose.dev.yml
  docker-compose.prod.yml
  docs/casos-pedagogicos/2025-12-15-organizacao-imagens-ghcr-deploy-vps.md
  docs/casos-pedagogicos/README.md
  docs/issues/2025-12-15-fase-6-api-gateway.md
  docs/relatorio-revisao-arquitetura-2025-12-12.md
  nginx/certs/.gitkeep
  nginx/dev.conf
  nginx/prod.conf
  packages/auth-service/package.json
  packages/registrations-service/src/health.controller.ts
  packages/registrations-service/src/registrations.controller.ts
  packages/registrations-service/src/registrations.module.ts
Owners: @org/time-devs

feat(gateway): Fase 6 — API Gateway (Nginx) e docs (#91)
  .gitignore
  docker-compose.deploy.yml
  docker-compose.dev.yml
  docker-compose.prod.yml
  docs/casos-pedagogicos/2025-12-15-organizacao-imagens-ghcr-deploy-vps.md
  docs/casos-pedagogicos/README.md
  docs/issues/2025-12-15-fase-6-api-gateway.md
  docs/relatorio-revisao-arquitetura-2025-12-12.md
  nginx/certs/.gitkeep
  nginx/dev.conf
  nginx/prod.conf
  packages/auth-service/package.json
  packages/registrations-service/src/health.controller.ts
  packages/registrations-service/src/registrations.controller.ts
  packages/registrations-service/src/registrations.module.ts
Owners: @org/time-devs

chore: commit pendente — atualizações e docs
  docs/issues/2025-02-11-operacao-containers-deploy.md
  nginx/prod.conf
  scripts/deploy-deploy.sh
Owners: none

chore: commit pendente — atualizações e docs (#92)
  docs/issues/2025-02-11-operacao-containers-deploy.md
  nginx/prod.conf
  scripts/deploy-deploy.sh
Owners: none

Save prod compose changes
  .tmp/gh_create.txt
  .tmp/pr_status.txt
Owners: none

Save prod compose changes (#93)
  .tmp/gh_create.txt
  .tmp/pr_status.txt
Owners: none

deploy(vps): make SSH deploy resilient to local changes (fetch + reset)
  .github/workflows/deploy-to-vps.yml
Owners: @org/devops

deploy(vps): make SSH deploy resilient to local changes (fetch + reset) (#94)
  .github/workflows/deploy-to-vps.yml
Owners: @org/devops

deploy(vps): use GHCR_PAT secret for non-interactive docker login on VPS
  .github/workflows/deploy-to-vps.yml
Owners: @org/devops

ci: add workflow to check gateway on VPS via SSH
  .github/workflows/check-vps-gateway.yml
Owners: @org/devops

Ci/check vps gateway (#96)
  .github/workflows/check-vps-gateway.yml
  .github/workflows/deploy-to-vps.yml
Owners: @org/devops

chore(deploy): make deploy script non-interactive in CI/non-TTY
  scripts/deploy-prod.sh
Owners: none

Chore/noninteractive deploy script (#97)
  scripts/deploy-prod.sh
Owners: none

fix(deploy): use GH_PAT secret instead of GHCR_PAT + health controller endpoints
  .github/workflows/deploy-to-vps.yml
  docs/relatorio-revisao-arquitetura-2025-12-12.md
  packages/registrations-service/src/health.controller.ts
  scripts/update-prod-env.sh
Owners: @org/devops

fix(deploy): use GH_PAT secret instead of GHCR_PAT + health controller endpoints (#98)
  .github/workflows/deploy-to-vps.yml
  docs/relatorio-revisao-arquitetura-2025-12-12.md
  packages/registrations-service/src/health.controller.ts
  scripts/update-prod-env.sh
Owners: @org/devops
