Repository evertonfoz/dsc-2025-2-aurora-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @org/time-devs, @aluno1, @aluno2, @org/devops

chore(db): remove length on citext email column
  src/users/entities/user.entity.ts
Owners: @org/time-devs, @aluno1, @aluno2

chore(docker): add start.sh to run migrations and start app
  start.sh
Owners: @org/time-devs

chore(docker): move start.sh to scripts/ and update Dockerfile; add scripts/README
  Dockerfile
  scripts/README.md
  scripts/start.sh
Owners: @org/time-devs

chore: remove duplicate root start.sh file
  start.sh
Owners: @org/time-devs

feature/apply citext users from main (#37)
  Dockerfile
  scripts/README.md
  scripts/start.sh
  src/database/migrations/1729090000000-EnableCitextAndUsersEmailCitext.ts
  src/users/entities/user.entity.ts
  start.sh
Owners: @org/time-devs, @aluno1, @aluno2

feat(db): add migration to name users.email unique index as idx_users_email_unique
  src/database/migrations/1729090000001-RenameUsersEmailUniqueIndex.ts
Owners: @org/time-devs, @aluno1, @aluno2

feat(db): remove duplicate unique indexes on users.email, keep idx_users_email_unique
  src/database/migrations/1729090000002-RemoveDuplicateUsersEmailIndexes.ts
Owners: @org/time-devs, @aluno1, @aluno2

fix(migration): correct comment style in migration to compile
  src/database/migrations/1750000000000-RemoveDuplicateUsersEmailIndexes2.ts
Owners: @org/time-devs, @aluno1, @aluno2

feat(db): ensure single unique index for users.email (idx_users_email_unique)
  src/database/migrations/1758049174211-EnsureSingleUsersEmailUniqueIndex.ts
Owners: @org/time-devs, @aluno1, @aluno2

docs: add citext/index strategy guide and docs index
  docs/README-guides.md
  docs/citext-index-strategy.md
Owners: none

Move citext-index-strategy.md to docs/strategies/ and update README-guides
  LLM-UNIFIED-GUIDE.md
  docs/README-guides.md
  docs/strategies/README.md
  docs/strategies/citext-index-strategy.md
  src/common/validators/is-strong-password.validator.ts
  src/users/dto/create-user.dto.ts
  src/users/entities/user.entity.ts
Owners: @org/time-devs, @aluno1, @aluno2

fix: strong-password validator typing; update CreateUserDto imports
  docs/README-guides.md
  src/common/validators/is-strong-password.validator.ts
  src/common/validators/is-trimmed.validator.ts
  src/database/migrations/1729090000001-RenameUsersEmailUniqueIndex.ts
  src/database/migrations/1729090000002-RemoveDuplicateUsersEmailIndexes.ts
  src/database/migrations/1750000000000-RemoveDuplicateUsersEmailIndexes2.ts
  src/database/migrations/1758049174211-EnsureSingleUsersEmailUniqueIndex.ts
  src/users/dto/create-user.dto.ts
Owners: @org/time-devs, @aluno1, @aluno2

Fix IsStrongPassword decorator type issue in TypeScript
  src/common/validators/is-strong-password.validator.ts
Owners: @org/time-devs, @aluno1, @aluno2

Fix ESLint errors in IsStrongPassword validator by removing unnecessary any cast
  src/common/validators/is-strong-password.validator.ts
Owners: @org/time-devs, @aluno1, @aluno2

Feature/apply citext users from main (#38)
  LLM-UNIFIED-GUIDE.md
  docs/strategies/README.md
  docs/strategies/citext-index-strategy.md
  src/common/validators/is-strong-password.validator.ts
  src/common/validators/is-trimmed.validator.ts
  src/database/migrations/1729090000001-RenameUsersEmailUniqueIndex.ts
  src/database/migrations/1729090000002-RemoveDuplicateUsersEmailIndexes.ts
  src/database/migrations/1750000000000-RemoveDuplicateUsersEmailIndexes2.ts
  src/database/migrations/1758049174211-EnsureSingleUsersEmailUniqueIndex.ts
  src/users/dto/create-user.dto.ts
  src/users/entities/user.entity.ts
Owners: @org/time-devs, @aluno1, @aluno2

chore: move pending local changes to new branch
  src/common/interceptors/logging.interceptor.ts
Owners: @org/time-devs, @aluno1, @aluno2

feature/apply citext users from main sync 20251014 (#39)
  src/common/interceptors/logging.interceptor.ts
Owners: @org/time-devs, @aluno1, @aluno2

chore: add HTTP tests for users endpoints
  https/users/users.http
Owners: none

chore: add variables and auth header to https/users/users.http
  https/users/users.http
Owners: none

chore: point http tests to /v1 apiBase
  https/users/users.http
Owners: none

chore/add http tests users (#40)
  https/users/users.http
Owners: none

feat: add EventsModule with basic structure
  src/app.module.ts
  src/events/entities/event.entity.ts
  src/events/events.controller.ts
  src/events/events.module.ts
  src/events/events.service.ts
Owners: @org/time-devs, @aluno1, @aluno2

feat: implement Event entity with fields, enums, and indexes
  src/events/entities/event.entity.ts
Owners: @org/time-devs, @aluno1, @aluno2

feat: add CreateEventsTable migration
  src/database/migrations/1760000000000-CreateEventsTable.ts
  src/events/events.module.ts
Owners: @org/time-devs, @aluno1, @aluno2

feat: add CreateEventDto and UpdateEventDto with validation rules
  src/events/dtos/create-event.dto.ts
  src/events/dtos/update-event.dto.ts
Owners: @org/time-devs, @aluno1, @aluno2

refactor: rename dtos to dto directory and update LLM guide
  LLM-UNIFIED-GUIDE.md
  src/events/dto/create-event.dto.ts
  src/events/dto/update-event.dto.ts
Owners: @org/time-devs, @aluno1, @aluno2

feat: implement EventsController with CRUD endpoints and OwnerId decorator
  src/common/decorators/owner-id.decorator.ts
  src/events/events.controller.ts
  src/events/events.service.ts
Owners: @org/time-devs, @aluno1, @aluno2

feat: implement EventsService with full CRUD logic, validations, and auth checks
  src/events/events.controller.ts
  src/events/events.service.ts
Owners: @org/time-devs, @aluno1, @aluno2

feat: add slug utility and ISO date pipe, refactor service to use toSlug
  src/events/events.service.ts
  src/events/pipes/iso-date.pipe.ts
  src/events/utils/slug.util.ts
Owners: @org/time-devs, @aluno1, @aluno2

feat: add auth guards to protected routes and inject fake user in DEV
  src/common/guards/jwt-auth.guard.ts
  src/events/events.controller.ts
Owners: @org/time-devs, @aluno1, @aluno2

test: add e2e tests for events CRUD and publish flow
  test/events.e2e-spec.ts
Owners: @org/time-devs

docs: add events.http with REST client examples for CRUD operations
  docs/events.http
Owners: none

docs: add development environment section to LLM guide
  LLM-UNIFIED-GUIDE.md
Owners: @org/time-devs

feat: add auth module and merge events module
  package.json
  src/app.module.ts
  src/auth/auth.controller.ts
  src/auth/auth.module.ts
  src/auth/auth.service.ts
  src/auth/entities/refresh-token.entity.ts
  src/auth/users-http.client.ts
  yarn.lock
Owners: @org/time-devs, @aluno1, @aluno2

fix: resolve ESLint errors in decorators, guards, service, and tests
  src/common/decorators/owner-id.decorator.ts
  src/common/guards/jwt-auth.guard.ts
  test/events.e2e-spec.ts
Owners: @org/time-devs, @aluno1, @aluno2

fix: add interfaces for type safety in decorators and guards
  src/common/decorators/owner-id.decorator.ts
  src/common/guards/jwt-auth.guard.ts
Owners: @org/time-devs, @aluno1, @aluno2

fix: add eslint-disable for intentional || usage and remove unused var
  src/events/events.service.ts
  test/events.e2e-spec.ts
Owners: @org/time-devs, @aluno1, @aluno2

fix: remove unused eventId variable from test
  test/events.e2e-spec.ts
Owners: @org/time-devs

docs: add npm permission fix to LLM guide
  LLM-UNIFIED-GUIDE.md
  package-lock.json
  yarn.lock
Owners: @org/time-devs

fix: resolve remaining lint errors in auth module and common files
  src/auth/auth.module.ts
  src/auth/users-http.client.ts
  src/common/decorators/owner-id.decorator.ts
  src/common/guards/jwt-auth.guard.ts
Owners: @org/time-devs, @aluno1, @aluno2

.github/CODEOWNERS:

/src/** @org/time-devs @aluno1 @aluno2
/test/** @org/time-devs
/.github/** @org/devops
/* @org/time-devs
