Repository evertonfoz/dsc-2025-2-aurora-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @org/time-devs, @aluno1, @aluno2, @org/devops

docs: forbid interactive editors in LLM guide (avoid vi/nano); recommend non-interactive git flags)
  LLM-UNIFIED-GUIDE.md
Owners: @org/time-devs

test(events): add unit tests for EventsService and EventsController
  src/events/events.controller.spec.ts
  src/events/events.service.spec.ts
Owners: @org/time-devs, @aluno1, @aluno2

test(events): move tests to test/events; docs: register test location convention in LLM-UNIFIED-GUIDE.md
  LLM-UNIFIED-GUIDE.md
  test/events/events.controller.spec.ts
  test/events/events.service.spec.ts
Owners: @org/time-devs

test(events): align with test/users pattern (controllers/ and services/, use repository mock)
  test/events/controllers/events.controller.find.spec.ts
  test/events/events.controller.spec.ts
  test/events/services/events.service.spec.ts
  test/mocks/repository.mock.ts
Owners: @org/time-devs

docs: add detailed testing pattern and conventions to LLM-UNIFIED-GUIDE.md
  LLM-UNIFIED-GUIDE.md
Owners: @org/time-devs

test(events): rename controller test to findOne and use DTO types in service specs
  test/events/controllers/events.controller.findOne.spec.ts
  test/events/services/events.service.spec.ts
Owners: @org/time-devs

test(events): add event factory and use in service specs
  test/events/services/events.service.spec.ts
  test/factories/event.factory.ts
Owners: @org/time-devs

test(events): use factory in controller specs
  test/events/controllers/events.controller.findOne.spec.ts
Owners: @org/time-devs

test(users): add user factory and refactor specs to use it
  test/factories/user.factory.ts
  test/users/controllers/users.controller.create.spec.ts
  test/users/services/users.service.create.spec.ts
Owners: @org/time-devs

test(users): apply factories across users specs and relax assertions where appropriate
  test/users/controllers/users.controller.findAll.spec.ts
  test/users/controllers/users.controller.findOne.spec.ts
  test/users/controllers/users.controller.patch.spec.ts
  test/users/controllers/users.controller.update.spec.ts
  test/users/services/users.service.findOne.spec.ts
Owners: @org/time-devs

docs(test): add factories guidance to LLM-UNIFIED-GUIDE.md
  LLM-UNIFIED-GUIDE.md
Owners: @org/time-devs

test(events): split service spec into per-method files; docs: clarify test folder conventions
  LLM-UNIFIED-GUIDE.md
  test/events/services/events.service.create.spec.ts
  test/events/services/events.service.findOne.spec.ts
  test/events/services/events.service.publish.spec.ts
  test/events/services/events.service.update.spec.ts
Owners: @org/time-devs

test(utils): add assertion helpers; refactor controller specs to use helpers
  test/events/controllers/events.controller.findOne.spec.ts
  test/users/controllers/users.controller.findOne.spec.ts
  test/utils/asserts.ts
Owners: @org/time-devs

test(utils): refactor controller specs to use helpers; remove duplicate events service spec
  src/events/events.controller.spec.ts
  src/events/events.service.spec.ts
  test/users/controllers/users.controller.create.spec.ts
  test/users/controllers/users.controller.findAll.spec.ts
  test/users/controllers/users.controller.patch.spec.ts
  test/users/controllers/users.controller.remove.spec.ts
  test/users/controllers/users.controller.update.spec.ts
Owners: @org/time-devs, @aluno1, @aluno2

docs(test): add test utils/helpers guidance and checklist
  LLM-UNIFIED-GUIDE.md
Owners: @org/time-devs

test(e2e): move app.e2e-spec to test/events/e2e/events.e2e-spec.ts
  test/events/e2e/events.e2e-spec.ts
Owners: @org/time-devs

test(smoke): move app smoke to test/smoke/events/events.smoke.spec.ts
  test/smoke/events/events.smoke.spec.ts
Owners: @org/time-devs

docs(test): add test/README.md describing test architecture, conventions and branch changes
  test/README.md
Owners: @org/time-devs

docs(test): require events work be recorded in test/README.md (LLM rule)
  LLM-UNIFIED-GUIDE.md
Owners: @org/time-devs

test(events): lint fixes and typing improvements for controller specs; apply factories/helpers
  test/events.e2e-spec.ts
  test/events/controllers/events.controller.create.spec.ts
  test/events/controllers/events.controller.find.spec.ts
  test/events/controllers/events.controller.findOne.spec.ts
  test/events/controllers/events.controller.update.spec.ts
  test/events/services/events.service.create.spec.ts
  test/events/services/events.service.findOne.spec.ts
  test/events/services/events.service.publish.spec.ts
  test/events/services/events.service.spec.ts
  test/events/services/events.service.update.spec.ts
  test/factories/event.factory.ts
  test/factories/user.factory.ts
  test/mocks/repository.mock.ts
  test/users/controllers/users.controller.create.spec.ts
  test/users/controllers/users.controller.findAll.spec.ts
  test/users/controllers/users.controller.findOne.spec.ts
  test/users/controllers/users.controller.patch.spec.ts
  test/users/controllers/users.controller.update.spec.ts
  test/users/services/users.service.create.spec.ts
  test/users/services/users.service.findOne.spec.ts
  test/utils/asserts.ts
Owners: @org/time-devs

chore(test): remove unused imports from events create spec
  src/auth/entities/refresh-token.entity.ts
  src/database/migrations/1710000000000-create-auth-refresh-tokens.ts
  test/events/services/events.service.create.spec.ts
  test/users/controllers/users.controller.remove.spec.ts
  test/users/controllers/users.controller.update.spec.ts
  test/users/services/users.service.create.spec.ts
Owners: @org/time-devs, @aluno1, @aluno2

test(events): make find controller assertions resilient (match id only)
  test/events/controllers/events.controller.find.spec.ts
Owners: @org/time-devs

test(events): add specs, factories, helpers and docs (#52)
  LLM-UNIFIED-GUIDE.md
  src/auth/entities/refresh-token.entity.ts
  src/database/migrations/1710000000000-create-auth-refresh-tokens.ts
  test/README.md
  test/events.e2e-spec.ts
  test/events/controllers/events.controller.create.spec.ts
  test/events/controllers/events.controller.find.spec.ts
  test/events/controllers/events.controller.findOne.spec.ts
  test/events/controllers/events.controller.update.spec.ts
  test/events/e2e/events.e2e-spec.ts
  test/events/services/events.service.create.spec.ts
  test/events/services/events.service.findOne.spec.ts
  test/events/services/events.service.publish.spec.ts
  test/events/services/events.service.update.spec.ts
  test/factories/event.factory.ts
  test/factories/user.factory.ts
  test/mocks/repository.mock.ts
  test/smoke/events/events.smoke.spec.ts
  test/users/controllers/users.controller.create.spec.ts
  test/users/controllers/users.controller.findAll.spec.ts
  test/users/controllers/users.controller.findOne.spec.ts
  test/users/controllers/users.controller.patch.spec.ts
  test/users/controllers/users.controller.remove.spec.ts
  test/users/controllers/users.controller.update.spec.ts
  test/users/services/users.service.create.spec.ts
  test/users/services/users.service.findOne.spec.ts
  test/utils/asserts.ts
Owners: @org/time-devs, @aluno1, @aluno2

feat(auth): implement AuthService with refresh rotation + tests, factories and test guide
  LLM-UNIFIED-GUIDE.md
  package-lock.json
  package.json
  src/auth/auth.service.ts
  src/types/argon2.d.ts
  test/README.md
  test/auth/services/auth.service.login.spec.ts
  test/auth/services/auth.service.logout.spec.ts
  test/auth/services/auth.service.me.spec.ts
  test/auth/services/auth.service.refresh.spec.ts
  test/factories/refresh-token.factory.ts
Owners: @org/time-devs, @aluno1, @aluno2

chore(auth/tests): fix lint issues — use ??, replace async mocks, and tighten mock typings
  src/auth/auth.service.ts
  test/auth/services/auth.service.login.spec.ts
  test/auth/services/auth.service.logout.spec.ts
  test/auth/services/auth.service.me.spec.ts
  test/auth/services/auth.service.refresh.spec.ts
  test/events/controllers/events.controller.find.spec.ts
  test/factories/refresh-token.factory.ts
Owners: @org/time-devs, @aluno1, @aluno2

feat(auth): AuthService with refresh rotation, hashed refresh tokens and tests (#53)
  LLM-UNIFIED-GUIDE.md
  package-lock.json
  package.json
  src/auth/auth.service.ts
  src/types/argon2.d.ts
  test/README.md
  test/auth/services/auth.service.login.spec.ts
  test/auth/services/auth.service.logout.spec.ts
  test/auth/services/auth.service.me.spec.ts
  test/auth/services/auth.service.refresh.spec.ts
  test/events/controllers/events.controller.find.spec.ts
  test/factories/refresh-token.factory.ts
Owners: @org/time-devs, @aluno1, @aluno2

feat(auth): add AuthController with login/refresh/logout/me handlers
  src/auth/auth.controller.ts
Owners: @org/time-devs, @aluno1, @aluno2

chore(auth): remove accidental auth.controller.spec per LLM guide
  src/auth/auth.controller.spec.ts
Owners: @org/time-devs, @aluno1, @aluno2

chore(auth): remove accidental auth.controller.spec per LLM guide (rm)
  src/auth/auth.controller.spec.ts
Owners: @org/time-devs, @aluno1, @aluno2

test(auth): add per-action controller unit tests following project patterns
  test/auth/controllers/auth.controller.login.spec.ts
  test/auth/controllers/auth.controller.logout.spec.ts
  test/auth/controllers/auth.controller.me.spec.ts
  test/auth/controllers/auth.controller.refresh.spec.ts
  test/auth/controllers/auth.controller.spec.ts
Owners: @org/time-devs

fix(auth): tighten types in controller and adapt tests to Request#get
  src/auth/auth.controller.ts
  test/auth/controllers/auth.controller.login.spec.ts
  test/auth/controllers/auth.controller.me.spec.ts
  test/auth/controllers/auth.controller.refresh.spec.ts
  test/auth/controllers/auth.controller.spec.ts
Owners: @org/time-devs, @aluno1, @aluno2

Feature/auth controller (#54)
  src/auth/auth.controller.ts
  test/auth/controllers/auth.controller.login.spec.ts
  test/auth/controllers/auth.controller.logout.spec.ts
  test/auth/controllers/auth.controller.me.spec.ts
  test/auth/controllers/auth.controller.refresh.spec.ts
Owners: @org/time-devs, @aluno1, @aluno2

docs(auth): add HTTP examples for auth endpoints
  https/auth/auth.http
Owners: none

feat(users): add /users/validate endpoint and validateCredentials
  src/users/dto/validate-user.dto.ts
  src/users/users.controller.ts
  src/users/users.service.ts
Owners: @org/time-devs, @aluno1, @aluno2

chore(docker): point USERS_API_URL to local v1 API for in-container validate
  docker-compose.yml
Owners: @org/time-devs

fix(auth): accept wrapped user responses in UsersHttpClient
  src/auth/users-http.client.ts
Owners: @org/time-devs, @aluno1, @aluno2

docs(auth): add README with setup and login flow
  src/auth/README.md
Owners: @org/time-devs, @aluno1, @aluno2

feat(events): reintroduce logging; restore docker-compose to prod config; update auth http
  docker-compose.yml
  https/auth/auth.http
  src/events/events.controller.ts
  src/events/events.service.ts
Owners: @org/time-devs, @aluno1, @aluno2

fix(lint): remove unsafe any and unused-catch vars; type axios responses
  src/auth/users-http.client.ts
  src/events/events.controller.ts
  src/events/events.service.ts
Owners: @org/time-devs, @aluno1, @aluno2

docs(llm-guide): add quick checklist to avoid lint/typing errors before PR
  LLM-UNIFIED-GUIDE.md
Owners: @org/time-devs

.github/CODEOWNERS:

/src/** @org/time-devs @aluno1 @aluno2
/test/** @org/time-devs
/.github/** @org/devops
/* @org/time-devs
